@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*나눔고딕*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid purple; */
}
body{
    min-width: 1200px;
    min-height: 950px;
    font-family: 'Nanum Gothic', sans-serif;
}
a, a:link{text-decoration: none;}
ul, li{ list-style: none; }
.inner{
    width: 80%;
    margin: 0 auto;
}
/*header css start*/
header{
    width:100%; 
    height: 38px;
    background: #424242;
    position: relative;
    z-index: 10;
}
header .top{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0 2%;
}
header .top .left{
    margin: 11px 1px;
}
header .top .left h6{
    color: white;
    letter-spacing: 1px;
}

header .right .search{
    margin: 3% 0;
    width: 150px;
    height: 22px;
}
header .right i{
    content:"\f002";
    display: inline-block;
    margin: 0px 0 0 10px;
    padding: 10px 10px 0 0;
    color: #ffff;
    cursor: pointer;
}
header .right > button{
    color: #fff;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    background: none;
    border: 1px solid #fff;
    margin: 9px;
}
header .top .right{display: flex;}

/*header2 css start*/
.header2{
    height: 90px;
    background: none;
    position: relative;
    z-index: 10;
}
.header2 nav{
    background: none;
    height: 90px;
    width: 100%;
    padding: 0 2%;
}
.header2 nav .inner{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
a.logo{
    width: 250px;
    display: block;
    background: url(/cobi_ro/img/dokdo/foregin_white.ver.png) no-repeat 50% 50% / contain;
    text-indent: -235px;
    overflow: hidden;
    margin: 29px 0 0 0;
}
nav .inner .foregin {display: flex;}
/*nav 탑형*/
.inner .nav {
    width: 100%;
    height: 60px;
    display: block;
    margin-top: 3%;
    position: relative;
}

.nav .menu {
    width: 600px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.nav .menu .depth {
    height: 60px;
    line-height: 60px;
    display: inline-flex;
    position: relative;
    z-index: 50;
}
.nav .menu .depth::after{
    width: 0%;
    height: 3px;
    background: #3480AA;
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    z-index: 10;
}
.nav .menu .depth > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}
.sub{
    min-width: 180px;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    border-top: 1px solid #ddd;
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 10;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
    display: none;
}
.sub > span{
    width: 100%;
    height: auto;
}
.sub li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
}
.sub li a{
    color: #333;
    font-size: 0.9rem;
    display: block;
    text-align: center;
}
.nav .menu .depth:hover::after{
    width: 110%;
    transition: width 0.5s;
}
.nav .menu .depth:hover .sub{display: block;}
.nav .menu .depth .sub li:hover{background: #3480AA;}
.nav .menu .depth .sub li:hover a{color: #fff;}



.mb_nav{display: none;}

/*sec1 css start*/
.sec1{
    overflow: hidden;
    margin: -127px 0 0 0;
    height: 100vh;
}
.sec1 .vd{
    width:100%;
    height: 100%;
}
.sec1 video{
    position: fixed;
    z-index: -1;
}
.bg {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100vh;
    position: relative;
    top: -100%;
}
.nav > span{display: none;}
.sec1 .dokdo{display: none;}

/*sec2 css start*/

.title h2{
    color: #242424;
    padding: 20px 0 4px 0;
    border-bottom: 2px solid #242424;
    width: 150px;
}
.sec2{
    width: 66%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transform: translateY(-100%);
}
.sec2 .content{
    display: flex;
    height: 307px;
    width: 100%;
}
.sec2 .content .line{
    width: 1px;
    height: 200px;
    background: #242424;
    margin: auto 0;
}
.sec2 .content .left,
.sec2 .content .right{
    width: 50%;
    padding: 0 0 0 20px;
}
.left .title h2 {width: 125px;}

/*날씨 css*/ 
.sec2 .left .wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}
.sec2 .left .wrap .weather{
    width: 292px;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #242424;
    margin: 0 auto;
}
.wrap .weather > .temp{
    font-size: 1.8rem;
    position: relative;
    left: 108px;
}
.wrap .weather > img{
    width: 100px;
    position: relative;
    left: -100px;
}
.wrap .coment{
    margin: 0 31px;
    text-align: center;
    position: relative;
    top: 30px;
}
.wrap span{
    position: relative;
    top: -38px;
    text-align: center;
    padding: 5px;
}
/*날씨 css 끝*/

div#guide {
    height: 230px;
    overflow: auto;
}
.que {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    width: 95%;
}
.que img {
    width: 20px;
    height: 15px;
    display: inline-block;
}
.arrow_wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}
.que .minus {
    display: none;
    background: url(/cobi_ro/img/icon/minus-solid.svg) no-repeat 50% 50% / contain;
    width:23px;
    height: 13px;
}
.que .plus {display: block;}
.que.on .minus{display: block; }
.que.on .plus{display:none;}
.anw{display:none;}
.anw img{
    width: 100%;
    border-radius: 10px;
}


/*table css*/

table{
    width: 98%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    border-style: hidden;
}
table td{
    border-bottom: 1px solid #4444;
    border-left: 1px solid #4444;
    padding: 5px;
    text-align: center;
}
thead th{
    border-bottom: 1px solid #4444;
    border-left: 1px solid #4444;
    padding: 3px;
    text-align: center;
}
thead th:first-child{border-left: none;}
table td:first-child{
    border-left: none;
    border-right: 1px solid #4444;
}


.sec2 .note{
    padding-bottom: 7px;
    border-radius: 10px;
    margin-right: 10px;
    background: #fff;
}
.sec2 .note ul{
    margin: 0 25px;
    text-indent: 6px;
}
.sec2 .note li{margin: 11px 0;}
.sec2 .note li span{font-weight: bold;}
/*버튼 css*/

.sec2 .site{
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.site .bt{
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 46px;
    border: 1px solid #225ea7;
    transition: all 0.5s;
    font-weight: bold;
    background: none;
}

.site .bt:hover{color: #fff;}
.site .bt:before{
    content:"";
    z-index: -1;
    position: absolute;
    background:#225ea7;
    transition: all 1s;
}
.site button:before{
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.site button:hover:before{height: 200%;}
/*sec3 start*/

.sec3{
    margin-top: -21%;
    background: white;
    position: relative;
}
.sec3 .cardgroup{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 auto;
}
.sec3 .cardgroup .card{
    margin: 4% 2% 0 0;
    z-index: 20;
    width: 45%;
}
.sec3 .card .cardti{
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    z-index: 5;
}
.sec3 .card .cardti h4{
    padding: 0 0px 0 5%;
    color: white;
}
.sec3 .card img{
    width: 85%;
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: 5px 5px 7px rgb(36,36,36,0.3);
}
.sec3 .card .inform {
    background-color: rgba(36, 36, 36, 0.7);
    box-shadow: 5px 5px 7px rgb(36,36,36,0.3);
    width: 100%;
    height: 40%;
    color: white;
    position: relative;
    left: 0;
    top: -20%;
    padding: 5% 5% 0;
    display: flex;
    flex-direction: column;
    gap: 4%;
}
.inform p {
    word-wrap: break-word;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: left;
}
.sec3 .card .inform .source{font-size: 0.7em;}
.cardgroup .card:nth-child(even) {
    position: relative;
    top: 60px;
    margin: 0;
}
.cardgroup .card:nth-child(even) .inform{
    background-color: rgba(255, 255, 255, 0.8);
    color: #1c1c1c;
}


/*sec4 start*/
.sec4{
    width: 100%;
    background: url(/cobi_ro/img/dokdo/dokdo_banner.jpg) no-repeat 50% 50% / cover;
    background-color:rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    height: 618px;
    position: relative;
}
.sec4 .inner .title h2{
    color: #ffffff;
    width: 247px;
    border-bottom: 2px solid #fff;
}
.sec4 .inner .slide{
    width: 100%;
    height: 490px;
    margin-top: 20px;
}
.sec4 .slidecard .slideinner{
    color: #ffffff;
    width: 100%;
}
.sec4 .year{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.sec4 .slidecard .img{
    width: 220px;
    height: 240px;
    display: block;
    margin: 0 auto;
}
.sec4 .source{
    font-size: 13px;
    margin: 0 auto;
    width: 220px;
}
.sec4 .copy {
    width: 100%;
    font-size: 1rem;
    padding: 2% 5% 0;
    word-wrap: break-word;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}
.copy p {line-height: 1.5;}
.sec4 .copy > .star{font-size: 0.7rem;}
.slide7 .copy {font-size: 0.9rem;}


/*슬라이드 마지막에 설정*/

footer{
    background: #424242;
    height: 145px;
}

footer .inner{
    display: flex;
    color: #9d9d9d;
    height: 146px;
    width: 80%;
    padding-top: 25px;
}
footer .inner .logo{
    background: url(/cobi_ro/img/dokdo/foregin_gray.ver.png) no-repeat 50% 50% / contain;
    width: 20%;
    display: block;
    margin: 0;
}
footer address{
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    font-size: 12px;
    margin: 2% 0 0 2%;
    width: 100%;
}
footer address > span{margin-bottom: 10px;}
footer .snsicon{
    margin: 2% 0 0 0;
    display: flex;
}
a.fa-brands{
    display: inline-block;
    width: 44px;
    height: 39px;
    overflow: hidden;
    font-family: "FontAwesome";
    text-indent: -30px;
    color: white;
    padding: 20px 0px 0 45px;
}

