@charset "utf-8";

body{
    min-width: 0;
    width: 100%;
}
.title h2{
    font-size: 1.3em;
    width: 132px;
}
header{display: none;}
header.header2{
    display: block;
    background: #242424;
}
.header2 .top{
    display: block;
    
}


a.logo{
    width: 147px;
    height: 57px;
    margin: 15px 0;
}
a.logo2{
    width: 70px;
    height: 40px;
    margin-top: 32px;
}
.header2 nav .inner{
    width: 100%;
    justify-content: space-between;
}

.inner .nav{
    position: relative;
}
.nav > .navIcon{
    background: url(../img/dokdo/bars-solid.png) no-repeat 50% 50% / contain;
    display:block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 0;
    cursor: pointer;
}
.nav > .menu1{
    width: 80%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    /* display: none; */
    margin: 0;
    justify-content: flex-start;
}
.menu1 .closeBt{
    background: url(../img/icon/xmark-solid.png) no-repeat 50% 50% / contain;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    left: 86%;
    top: 26px;
    cursor: pointer;
}
.inner .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15%;
    left: 12px;
    width: 65%;
    z-index: 1000;
}

.nav .menu > li > a {
    margin: 0 0 46px 0;
    font-size: 1.1em;
}
.nav .menu > li > ul{
    position: relative;
    left: 123%;
    top: -42px;
    background: none;
    border: 1px solid #eee;
}
.nav .menu > li > ul > li a{
    color: #fff;
}
.sec1 .dokdo{
    width: 13%;
    height: 15%;
    margin: 156px auto;
}

.sec1 video{margin: 0 0 0 -50%;}
.sec2{
    width: 100%;
    height: 305px;
    background: none;
    border-radius: 0;
}
.sec2 .content{flex-direction: column;}
.sec2 .content .line{display: none;}
.sec2 .content .left{border-radius: 20px 20px 0 0;}
.sec2 .content .left,
.sec2 .content .right{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: soft-light;
}

.sec2 .left .wrap{
    width: 80%;
    margin-bottom: 13px;
}
.sec2 .left .wrap .weather{
    width: 80%;
    height: 144px;
}
.left .title h2{
    width: 111px;
    font-size: 1.3em;
}
.wrap .coment{padding: 2px;}
.wrap span{
    top: -34px;
    font-size: 1.0em;
}    

.sec3{top: 26%;}
.inner{width: 90%;}
.sec3 .cardgroup{
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.sec3 .cardgroup .back_1{width: 80%;}
.sec3 .cardgroup .back_2{
    width: 80%;
    top: 69%;
}

.sec3 .card img{
    width: 400px;
    height: 300px;
}
.sec3 .card .inform{
    margin: -110px 0 0 3px;
}

.cardgroup .card:nth-child(even) .inform {
    margin-left: 4px;
    margin-top: -105px;
}
.cardgroup .card:last-child .inform{
    margin-top: -139px;
}
.sec4{top: 26%;}

footer{
    position: relative;
    top: 26%;
    height: 182px;
}
footer .inner{
    width: 95%;
    flex-direction: column;
    height: 178px;
    padding: 0;

}
footer .inner .logo{
    width: 89px;
    height: 38px;
}
footer address{
    padding: 0;
    margin: 0;
    width: 95%;
}
footer address > span:last-child{
    width: 63%;
}

footer .snsicon{
    width: 104px;
    margin: 0;
}
a.fa-brands{
    width: 12px;
    padding: 16px 0px 23px 31px;
}