@charset "utf-8";

body{
    min-width:320px;
    width: 100%;
}
.title h2 {
    font-size: 1.0em;
    width: 118px;
}
header{display: none;}
header.header2{
    display: block;
    background: #242424;
}
.header2 .top{
    display: block;
    
}


a.logo{
    width: 100px;
    height: 50px;
    margin: 25px 0;
}
a.logo2{
    width: 40px;
    height: 30px;
    margin-top: 40px;
}
.header2 nav .inner{
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.inner .nav{
    position: relative;
}
.nav > .navIcon{
    background: url(../img/dokdo/bars-solid.png) no-repeat 50% 50% / contain;
    display:block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 0;
    cursor: pointer;
}
.nav > .menu1.on{
    transform: translateX(0%); 
    transition: all 0.5s;
}
.nav > .menu1{
    width: 80%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    /* display: none; */
    margin: 0;
    justify-content: flex-start;
    transform: translateX(-101%);
    transition: all 0.5s;
}
.menu1 .closeBt{
    background: url(../img/icon/xmark-solid.png) no-repeat 50% 50% / contain;
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    left: 86%;
    top: 34px;
    cursor: pointer;
}
.inner .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 60%;
    z-index: 1000;
    font-size: 14px;
}
.nav .menu > li{
    width: 100%;
}
.nav .menu > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1.0em;
}
.nav .menu > li > ul{
    background: none;
    border: 1px solid #eee;
}
.nav .menu > li > ul > li a{
    color: #fff;
}
.sec1 .dokdo {
    width: 13%;
    height: 15%;
    position: relative;
    top: 22%;
    left: 45%;
    margin: 0;
}

.sec1 video{margin: 0 0 0 -50%;}
.sec2{
    width: 100%;
    height: 305px;
    background: none;
    border-radius: 0;
}
.sec2 .content{
    flex-direction: column;
    height: auto;
}
.sec2 .content .line{display: none;}
.sec2 .content .left{border-radius: 20px 20px 0 0;}
.sec2 .content .left,
.sec2 .content .right{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: soft-light;
}

.sec2 .left .wrap{
    width: 80%;
    margin-bottom: 13px;
}
.sec2 .left .wrap .weather{
    width: 80%;
    height: 144px;
}
.wrap .weather > .temp{
    font-size: 1.5rem;
}
.left .title h2 {
    width: 87px;
    font-size: 1.0em;
}
.wrap .coment{
    font-size: 0.9em;
    top: 23px;
    margin: 0;
}
.wrap span{
    top: -42px;
    font-size: 0.9em;
}    

.sec2 .guide table,
.sec2 .note ul{
    font-size: 13px;
}
.site .bt{
    width: 146px;
    font-size: 12px;
}
.sec3{
    top: 25%;
}
.inner{width: 90%;}
.sec3 .cardgroup{
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.sec3 .cardgroup .back_1 {
    /* width: 100%;
    left: -19px;
    top: 20%; */
    display: none;
}
.sec3 .cardgroup .back_2 {
    /* width: 100%;
    top: 66%;
    right: -31px; */
    display: none;
}
.sec3 .cardgroup .card{
    margin: 25px 0;
}
.sec3 .cardgroup .card:nth-child(even) {
    height: 275px;
    margin: 40px 0 25px 0;
    width: 250px;
}
.sec3 .card .cardti h4 {
    margin: 0px 0px 0 16px;
}
.sec3 .card img{
    width: 250px;
    height: 250px;
}
.sec3 .card .inform {
    margin: 0;
    top: 72%;
    left: -10px;
    width: 269px;
    height: 140px;
    font-size: 12px;
    padding: 15px;
}

.cardgroup .card:nth-child(even) .inform {
    margin: 0;
    left: -10px;
    top: -38%;
}
.cardgroup .card:last-child .inform{
    margin-top: -16px;
}
.sec4{
    top: 25%;
    height: 557px;
}
.sec4 .inner .title h2{
    width: 163px;
}
.sec4 .year {
    font-size: 18px;
}
.sec4 .source {
    font-size: 13px;
}
.sec4 .slidecard .img {
    width: 160px;
    height: 175px;
}
.sec4 .copy {
    font-size: 15px;
    padding: 0px 15px;
    letter-spacing: 2px;
    margin: 15px;
}
footer{
    position: relative;
    top: 25%;
    height: 182px;
}
footer .inner{
    width: 95%;
    flex-direction: column;
    height: 178px;
    padding: 0;

}
footer .inner .logo {
    width: 100px;
    height: 40px;
    margin: 0;
}
footer address{
    padding: 0;
    margin: 0;
    width: 95%;
}
footer address > span{color: #fff;}
footer address > span:last-child{
    width: 100%;
}

footer .snsicon{
    width: 100%;
    margin: 0;
}
a.fa-brands{
    width: 12px;
    padding: 16px 0px 23px 31px;
}

a.fa-brands.fa-facebook-f {
    padding: 16px 0px 10px 31px;
    text-indent: -20px;
}