@charset "utf-8";

body{
    min-width:320px;
    width: 100%;
}
.title h2 {
    font-size: 1.0em;
    width: 118px;
}
header{display: none;}
header.header2{
    display: block;
    background: #242424;
}
.header2{ height: 85px;}
.header2 .top{
    display: block;
    height: 100%;
    padding: 0;
}
a.logo {
    width: 100%;
    margin: 0;
}
.header2 nav .inner{
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.inner .nav {
    width: 80%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    transform: translate(0%, 0);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
    position: absolute;
    z-index: 900;
    left: 100%;
    margin: 0;
}
.inner .nav.on{
    transform: translate(-100%, 0);
    transition: all 0.5s;
}
.inner .navIcon {
    background: url(../img/dokdo/bars-solid.png) no-repeat 50% 50% / contain;
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 100;
    top: 3%;
    left: 85%;
    cursor: pointer;
}
.nav .closeBt{
    background: url(../img/icon/xmark-solid.png) no-repeat 50% 50% / contain;
    width: 25px;
    height: 25px;
    display: block;
    position: fixed;
    z-index: 900;
    left: 86%;
    top: 34px;
    cursor: pointer;
}
nav .inner .foregin {
    width: 40%;
    position: relative;
    z-index: 100;
}
.nav > ul.menu{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.3em;
}
.nav .menu > li{
    width: 100%;
}
.snb{
    background: none;
    border: 1px solid #eee;
}
.snb li a{
    color: #fff;
}

.sec1 .dokdo {
    width: 13%;
    height: 15%;
    position: relative;
    top: 22%;
    left: 45%;
    margin: 0;
}

.sec1 video{margin: 0 0 0 -50%;}
.bg{height: 100%;}
.sec2{
    width: 100%;
    background: none;
    border-radius: 0;
}
.sec2 .content{
    flex-direction: column;
    height: auto;
}
.sec2 .content .line{display: none;}
.sec2 .content .left{border-radius: 20px 20px 0 0;}
.sec2 .content .left,
.sec2 .content .right{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: soft-light;
}

.sec2 .left .wrap{
    width: 80%;
    margin-bottom: 13px;
}
.sec2 .left .wrap .weather{
    width: 80%;
    height: 144px;
}
.wrap .weather > .temp{
    font-size: 1.5rem;
}
.left .title h2 {
    width: 87px;
    font-size: 1.0em;
}
.wrap .coment{
    font-size: 0.9em;
    top: 23px;
    margin: 0;
}
.wrap span{
    top: -42px;
    font-size: 0.9em;
}    

#guide table,
.note ul{
    font-size: 13px;
}
.que{font-size: 15px;}
table td{padding: 2px;}
#table div{font-size: 0.8em;}
.site .bt{
    width: 146px;
    font-size: 12px;
}
.sec3{margin-top: -130%;}
.inner{width: 90%;}
.sec3 .cardgroup{
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.sec3 .cardgroup .back_1 {
    display: none;
}
.sec3 .cardgroup .back_2 {
    display: none;
}
.sec3 .cardgroup .card{width: 80%;}
.sec3 .card .inform {font-size: 12px;}
.cardgroup .card:nth-child(even){top: 0;}
.cardgroup .card:nth-child(even) .inform {left: -5%;}
.cardgroup .card:last-child .inform{
    margin-top: -16px;
}
.sec4 {height: 600px;}
.sec4 .inner .title h2{width: 45%;}
.sec4 .year {
    font-size: 1.2rem;
    margin: 0 0 10% 0;
}
.sec4 .source {
    font-size: 13px;
}

.sec4 .slidecard .slideinner {
    margin-top: 5%;
}
.sec4 .slidecard .img {
    width: 55%;
    height: 175px;
}
.sec4 .copy {
    letter-spacing: 2px;
    padding: 5% 0 0 0;
}
.copy p {font-size: 0.8rem;}
.sec4 .copy > .star {font-size: 0.7rem;}
footer{height: 200px;}
footer .inner{
    width: 95%;
    flex-direction: column;
    height: 178px;
    padding: 0;

}
footer .inner .logo {
    width: 40%;
    height: 40px;
    margin: 10px 0 10px 0;
}
footer address{
    padding: 0 2%;
    margin: 0;
    width: 100%;
}
footer address > span{color: #fff;}
footer address > span:last-child{
    width: 100%;
}

footer .snsicon{
    width: 100%;
    margin: 2% 0 0 0;
    display: flex;
    gap: 4%;
}
a.fa-brands{
    width: 12px;
    padding: 16px 0px 23px 31px;
}

a.fa-brands.fa-facebook-f {
    padding: 16px 0px 10px 31px;
    text-indent: -20px;
}