@charset "utf-8";

body{min-width: 640px;}
header .top .left h6 {font-size: 0.7rem;}
.title h2{font-size: 1.4em;}
.header2 nav .inner{width: 90%;}
a.logo{
    width: 200px;
    margin: 15% 0 0 0;
}
a.logo2{
    width: 60px;
    margin-top: 46px;
}
.inner .nav{margin-top: 4%;}
.nav .menu {width: 440px;}
.nav .menu .depth {width: 144px;}
.nav .menu .depth > a{font-size: 0.9em;}
.sub li {padding: 0;}
.sec1 .dokdo {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 160px;
    display: block;
}
.sec1 .dokdo img {
    width: 100%;
    display: block;
}
.sec2{width: 85%;}
.sec2 .left .wrap{width: 88%;}
.wrap .coment {margin: 0;}
.inner{width: 90%;}
.sec3 {margin-top: -40%;}
.sec3 .cardgroup .card{margin: 0;}
.sec3 .card .cardti{width: 100%;}
.sec3 .card:nth-child(even) .cardti {top: 52px;}
.sec3 .card img{width: 100%;}
.cardgroup .card:nth-child(even) {top: 50px;}
.sec3 .card .inform{
   width: 110%;
   height: 45%;
   left: -5%;
   padding: 10% 5% 0;
}
.inform p {font-size: 0.8rem;}
footer .inner{
    width: 90%;
    padding: 0;
}
footer .snsicon{
    width: 26%;
    margin-left: 12px;
    margin-top: 22px;
}