@charset "utf-8";
/*아이콘 넣어야될 시 @import 사용하여 cdn넣기*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: 1px solid purple;
}
body{
    min-width: 1200px; min-height: 950px;
    font-family: 'Noto Sans KR', sans-serif;
    /*font사용시 여기에 작성*/
}
a:link{
    text-decoration: none;
}
.inner{
    width: 70%;
    margin: 0 auto;
}
/*header css start*/
header{
    width:100%; height: 38px;
    background: #424242;
    
}

header .top{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0 15px;
   
}
header .top .left{
    margin: 11px 1px;
}
header .top .left h6{
    color: white;
    letter-spacing: 1px;
}

header .right button{
    background: none;
    border: 1px solid #fff;
    padding: 3px;
    margin: 9px;
}

header .right .search{
    margin: auto 0;
    width: 150px;
    height: 22px;
}

header .right i{
    content:"\f002";
    display: inline-block;
    margin: 0px 0 0 10px;
    padding: 10px 10px 0 0;
    color: #ffff;
 
}
header .right a{
    text-indent: -100px;
    overflow: hidden;
    color: #fff;
    font-size: 10px;
}
header .top .right{
    display: flex;
}

/*header2 css start*/
.header2{
    height: 83px;
    background: none;
}
.header2 nav{
    background: none;
}

.header2 nav .inner{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}
a.logo{
    width: 128px;
    height: 53px;
    display: block;
    background: url(/img/dokdo/foregin_white.ver.png) no-repeat 50% 50% / contain;
    text-indent: -235px;
    overflow: hidden;
    padding: 41px;
}
nav .inner .foregin{
    display:flex;
}
nav .inner p{
    font-size: 1.5em;
    padding: 24px 0;
    margin-left: 7px;
    color: #ffff;
}
nav .inner .nav{
    width: 315px;
}
.header2 nav .inner .menu{
    display: flex;
    list-style: none;

}
.header2 nav .inner .menu > li{
    height: 83px;
    margin: 0 auto;
    padding: 9% 0;
}

.header2 nav .menu a{
    color: #242424;
    font-weight: bold;
}

/*sec1 css start*/
.sec1{
    width:100%;
    height: 611px;
    background: url(/img/dokdo/서도\ 코끼리바위.jpg) no-repeat 50% 50% / cover;
    margin: -83px 0 0 0;
    padding: 84px 0 0 0;
    /*로고 padding으로 붙일지 position으로 붙일지 고민해보기*/
}

.sec1 .dokdo{
    width: 160px;
    height: 170px;
    background: url(/img/dokdo/logo_korean.png) no-repeat 50% 50% / contain;
    text-indent: -100px;
    overflow: hidden;
    margin: 0 auto;
}

/*sec2 css start*/

.title h2{
    color: #242424;
    text-decoration: underline;
    padding: 20px 0 20px 0;

}
.sec2{
    height: 307px;
    width: 100%;
    background: url(/img/dokdo/날씨영역bg.jpg) no-repeat 50% 100% / cover;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: soft-light;
}

.sec2 .content{
    display: flex;
    height: 307px;
}

.sec2 .content .left,
.sec2 .content .right{
    width: 50%
}
.sec2 .content .title h2{
    width: 100%;
    margin: 0;
}
.sec2 .content .guide{
    overflow: auto;
    height: 231px;
    margin: 0 0 0 12px;
}
.sec2 .content .guide details{
    margin-bottom: 33px;
}
.sec2 .content summary{
    font-weight: bold;
}
.sec2 .right .guide img{
    width: 100%;
}


/*table css*/


.sec2 .guide table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(36, 36, 36, 0.2);
    border-radius: 10px;
    border-style: hidden;
}
.sec2 .guide table td{
    border-bottom: 1px solid #4444;
    border-left: 1px solid #4444;
    padding: 5px;
    text-align: center;
}
thead th{
    border-bottom: 1px solid #4444;
    border-left: 1px solid #4444;
    padding: 3px;
    text-align: center;
}
thead th:first-child{
    border-left: none;
}
.sec2 .guide table td:first-child{
    border-left: none;
    border-right: 1px solid #4444;
}


.sec2 .note{
    background-color: rgba(36, 36, 36, 0.2);
    padding-bottom: 7px;
    border-radius: 10px;
}
.sec2 .note ul{
    margin: 0 25px;
    text-indent: 6px;
}
.sec2 .note li{
    margin: 11px 0;
}
.sec2 .note li span{
    font-weight: bold;
}
.sec2 .note button{
    margin: 16px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #E5E5E5;
    border: 1px solid #7D7D7B;
    border-radius: 8px;
}

/*sec3 start*/

.sec3 .cardgroup{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 1px auto;
}

.sec3 .cardgroup .card{
    width: 406px;
    height: 386px;
}

.sec3 .card .cardti h4{
    text-align: center;
    margin: 0px 0px 35px 50px;
}
.sec3 .card img{
    width: 356px;
    height: 169px;
    margin: 1px 0 0 50px;
    position: relative;
}

.sec3 .card .inform{
    background-color: rgba(36, 36, 36, 0.7);
    color: white;
    width: 314px;
    height: 135px;
    margin: -45px 0 0 0;
    font-size: 15px;
    position: absolute;
    padding: 10px 6px;
}
.sec3 .card .inform .source{
    font-size: 0.7em;
    margin-top: 5px;
}
.cardgroup .card:nth-child(even) img{
    margin: 67px 0 0 0;
}
.cardgroup .card:nth-child(even) .inform{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-left: 92px;
    border: 1px solid #EDEEEE;
}
.cardgroup .card:nth-child(even) .cardti h4{
    margin: 35px 50px 0 0;
}

/*sec4 start*/
.sec4{
    background: url(/img/dokdo/dokdo_banner.jpg) no-repeat 50% 50% / cover;
    background-color:rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    height: 618px;

}
.sec4 .inner .title h2{
    color: #ffff;
}
.sec4 .inner .slide{
    width: 100%;
    height: 455px;
}
.sec4 .inner .slidecontent{
    display: flex;
    margin-top: 40px;
    margin-left: 25%;
/*overflow할 필요없음 / 스크립트로 슬라이드정하면 자동적으로 넘어감*/
}
.sec4 .slidecontent .slidecard{
   margin-right: 48%;
}
.sec4 .slidecard .slideinner{
    color: #ffff;
    width: 495px;
    height: 455px;
}

.sec4 .year{
    font-size: 20px;
    text-align: center;
}
.sec4 .slidecard .img{
    width: 220px;
    height: 240px;
    display: block;
    margin: 0 auto;
}
.sec4 .source{
    font-size: 13px;
    margin: 0 28%;
}

.sec4 .copy > span{
    font-size: 13px;
    display: flex;
    margin-top: 12px;
}

/*슬라이드 마지막에 설정*/

footer{
    background: #424242;
    height: 143px;
}

footer .inner{
    display: flex;
    color: #ffff;
    height: 143px;
    width: 80%;
    padding-top: 37px;
    justify-content: space-around;
}

footer address{
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    font-size: 12px;
}
footer address > span{
    margin-bottom: 14px;
}
footer .snsicon{
    height: 24px;
}
a.fa-brands{
    display: inline-block;
    width: 30px;
    height: 23px;
    overflow: hidden;
    font-family: "FontAwesome";
    text-indent: 7px;
    color: white;
    padding: 6px 0px 6px 0px;
    
}
/*---->아이콘 컬러변경해야되서 nth-child() svg로 다운받아서 못하고 i class로 설정하면
아이콘을 연달아서 넣고 text를 숨기지 못함
a로 설정하여 유니코드로 작성하여 위치를 조정해야함*/ 


