@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*나눔고딕*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid pink;
}
body{
    min-width: 1280px;
    font-family: 'Nanum Gothic', sans-serif;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}
ul,li{list-style: none;}

/*header css*/
header{
    width:100%;
    display: flex;
    flex-direction: column;
}
header .top{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    background: #424242;
}
header .top .left h6{
    color: #fff;
    letter-spacing: 1px;
    height: 100%;
    line-height: 38px;
}
header .top .right button{
    background: none;
    border: 1px solid #fff;
    font-size: 0.5rem;
    color: #fff;
    padding: 5px;
    margin: 7px;
}
header .top .right input[name=search] {
    margin: 3% 0;
    width: 155px;
    height: 21px;
}
header .top .right > i{
    color: #fff;
    cursor: pointer;
    padding: 4% 0;
    margin: 0 0 0 3px;
}
header .header_2{
    width: 100%;
    height: 200px;
    background: url(/cobi_ro/img/dokdo/날씨영역bg.jpg) no-repeat bottom;
    background-size: cover;

}
header .header_2 .header_inner{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
header .header_2 .header_inner .logo{
    width: 200px;
    height: 70px;
}

nav .menu{
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
} 
nav .menu .depth{
    height: 60px;
    line-height: 60px;
    position:relative;
    /* display:inline-flex; */

}
nav .menu .depth::after{
    width: 0%;
    height: 3px;
    background: #3480AA;
    content: " ";
    position: absolute;
    bottom: 0;
    left: -5%;
    

}
.mb_nav{display: none;}


svg{display: none;}
main {
    width: 90%;
    margin: 0 auto;
}
section {
    width: 100%;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
}
h3.sec_title {
    color: #3480AA;
    font-size: 1.3rem;
    border-bottom: 2px solid #3480AA;
    width: 23%;
    padding-bottom: 5px;
}
img.sec1_img {
    width: 55%;
    margin: 5% auto;
    box-shadow: 8px 6px 15px rgba(0,0,0,15%);
}
.sec2_1 {
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
    margin: 5% 0;
}
.sec2_1 > i {
    font-size: 94px;
    color: #3480AA;
}
.sec2_1 span > p {
    color: #424242;
    font-size: 0.9rem;
    font-weight: 600;
    height: 96px;
    line-height: 96px;
    white-space: nowrap;
    word-spacing: 0.1rem;
}
.question1, .question2 {
    padding-bottom: 5%;
}
.sec2_2 .question1 > h4,
.sec2_2 .question2 > h4{
    font-size: 1.2rem;
    word-spacing: 0.1rem;
}

.sec2_2 .question1 > h4::before,
.sec2_2 .question2 > h4::before{
    display: inline-block;
    content: '\51';
    font-size: 25px;
    color: #3480AA;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}
.sec2_2 .question1 p{
   padding: 0 0 0 5%;
   word-spacing: 0.1rem;
}
/*footer*/
footer{background: #424242;}
footer .inner{
    padding: 3% 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
footer .innner .logo {
    width: 15%;
}
.copyright {
    height: 100%;
    color: #9d9d9d;
    font-size: 12px;
    margin: 1% 0 0 2%;
    width: 100%;
}
address {
    font-style: normal;
    margin: 0 0 10px 0;
}
.sns {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: 10px;
}
.sns > i {
    font-size: 20px;
}