@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*나눔고딕*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid pink;
}
body{
    min-width: 1280px;
    font-family: 'Nanum Gothic', sans-serif;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}
ul,li{list-style: none;}

/*header css*/
header{
    width:100%;
    display: flex;
    flex-direction: column;
}
header .top{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    background: #424242;
}
header .top .left h6{
    color: #fff;
    letter-spacing: 1px;
    height: 100%;
    line-height: 38px;
}
header .top .right button{
    background: none;
    border: 1px solid #fff;
    font-size: 0.5rem;
    color: #fff;
    padding: 5px;
    margin: 7px;
}
header .top .right input[name=search] {
    margin: 3% 0;
    width: 155px;
    height: 21px;
}
header .top .right > i{
    color: #fff;
    cursor: pointer;
    padding: 4% 0;
    margin: 0 0 0 3px;
}
header .header_2{
    width: 100%;
    height: 200px;
    background: url(/cobi_ro/img/dokdo/날씨영역bg.jpg) no-repeat bottom;
    background-size: cover;

}
header .header_2 .header_inner{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
header .header_2 .header_inner .logo{
    width: 200px;
    height: 70px;
}

nav .menu{
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
} 
nav .menu .depth{
    height: 60px;
    line-height: 60px;
    position:relative;
    /* display:inline-flex; */

}
nav .menu .depth::after{
    width: 0%;
    height: 3px;
    background: #3480AA;
    content: " ";
    position: absolute;
    bottom: 0;
    left: -5%;
    

}
.mb_nav{display: none;}