@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;600&display=swap');
/*Gothic A1 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/* Inconsolata 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*나눔 고딕*/
@font-face{src: url("../fonts/Lush.ttf"); font-family: "Lush"; }
*{margin: 0; padding: 0; box-sizing: border-box; /*outline: 1px solid steelblue;*/}
ul > li{list-style:none;}
a, a:active{text-decoration: none; color: #333;}
.clearfix{display:table; content:" "; clear:both;}

body{width:100%; font-family: 'Gothic A1', sans-serif;}
header > img {width: 450px; position: relative; top: -56px; left: 40px; z-index: 10; height: 450px;}
.folder{font-weight: 600; position: absolute; top: 22%; left: 150px; font-size: 35px; z-index: 50; color: #333;}



.sec1{width:90%; height: 800px; font-family: 'Inconsolata', monospace; position: relative; top: -360px; background: #EFEFEF; margin: 0 auto; box-shadow: -7px 3px 10px rgb(0 0 0 / 10%);}
.sec1 > .inform{float:left; position: relative; top: 450px; left: 150px; }
.inform dt{font-size: 65px; font-weight: 600; margin-bottom: 15px;}
.inform dd{display:flex;}
dl:first-child dd {margin-bottom: 30px; font-size: 30px; font-weight: 600;}
dd > ul {display: flex; margin-bottom: 30px; text-transform: uppercase;}
dd> ul > li{margin-right: 20px; font-size:30px; font-weight: 600;}
.inform dd > img{width: 60px; height: 60px; margin-right: 30px;}



.vsc{width: 550px; height: 750px; background:#252526; float: right; border-radius: 15px; position: relative; top: -300px; left: -85px; box-shadow: -4px 7px 15px #8d8d8d;}
.vschead{display: flex; background: #333333; width: 100%; height: 35px; justify-content: space-between; border-radius: 15px 15px 0 0;}
.vscside{width: 47px; height: 715px; float: left;  background-color: #333333; border-bottom-left-radius: 15px;}
.vscside .sideicon{width: 100%; height:248px; background: url(../img/index/2022-07-14_100243.png) no-repeat 50% 50% / contain; cursor:pointer;}
.menu{display:flex; line-height: 35px; font-weight: 400; margin-left: 7px; }
.menu .vsclogo{width: 20px; height: 20px; margin: 7px 15px 7px 7px;}
.menu > a{color:#8C8C8D; margin-right: 15px; font-weight: 600; font-size: 14px;}
img.headicon {height: 35px; width: 100%;}
.windows {margin: 10px;}
.windows > a {margin-left: 27px;}
.windows a:first-child {margin: 0;}
.windows img{width: 15px; height: 15px;}
.windows .minimize{width: 20px; height: 2px;}

.vsctab{width: 26%; height: 37px; display: flex; line-height: 37px; border-right: 1px solid #424242; background: #1E1E1E; color: #C7C7C7;}
.vsctab .xml{height: 100%; width: 100%;}
.vsctab > p {font-size: 13px; font-weight: 600; margin-right: 10px; margin-left: 8px;}
.vsctab img{width: 12px; height: 12px;}

.code{background:#1E1E1E; min-height: 678px; border-radius: 0 0 15px 15px;}
:root{--color-blue:#3077C7; --color-sky:#67BDF1; --color-orange:#CE8B66;}
ol.number {width: 90%; position: relative; top: 0; left: 48px;}
.number > li {color: #858585; font-weight: 600; font-size: 17px; padding: 6px 0;}
.number > li p {display: inline-block;}
p.answer {font-size: 1.2em;}
.number .blue{color: var(--color-blue);}
.number .sky{color: var(--color-sky);}
.number .orange{color: var(--color-orange);}


.tabs{display: flex; position: absolute; top: 94%; right: 0; z-index: 100;}
.dokdofile, .lushfile{width: 270px; cursor: pointer; display: block; filter: drop-shadow(5px 5px 8px rgb(0 0 0 / 20%)) ;}
/* .dokdofile:visited, .lushfile:visited{width: 270px;} */
/* .dokdofile:active, .lushfile:active{width: 270px;} */

.sec2{width: 100%;position: relative; top: -240px; z-index: 5; }
.informs{float: left; margin-left: 3%; z-index: 5; width: 60%; height: 900px; box-shadow: -2px 2px 9px rgb(0 0 0 / 10%); padding-left: 45px;}
.fileinform {width: 50%;}
.dokdoinform {margin-top: 50px;}
.lushinform {margin-top: 25px;}
.about, .concept, .color {margin-bottom: 5%;}
h2.title {font-size: 50px; text-align: center;}
.report p {margin: 10px 25px 25px; word-spacing: 3px; word-break: break-all;}
.word p {font-size: 25px;}
.tag{font-weight: 600; font-size: 27px;}
.color .report {display: flex; justify-content: space-around;}
.circle{width: 110px; height: 110px; border-radius: 50%;}
.circle > span{line-height: 110px; color: #fff; font-weight: 600; margin-left: 22px;}
.lushinform .circle > span{color: #565656;}

.dokdoinform .fir-color{background:#90C6E3;}
.dokdoinform .sec-color{background: #3480AA;}
.dokdoinform .third-color{background: #242424;}

.lushinform .fir-color{background:#FEEDC3;}
.lushinform .sec-color{background:#93A953;}
.lushinform .third-color{background:#F3F2EA;}



.word{display: flex; justify-content: space-around; } 
.word img{width: 20px; height:20px; margin-top: 15px; font-family: 'Nanum Gothic', sans-serif;}
.font h2 {text-align: center; margin-top: 20px; font-size: 2em;}
button{font-size:15px; font-weight: 600; background: none; padding: 10px; border: 1px solid #333; position: relative; left: 67%;}
button.site1 {top: 30px;}
button.site2 {top: 15px;}
button.site1:hover {background: #bee9f3; color: #fff; border: 1px solid #88c2cf; transition: 0.3s;}
button.site2:hover {background: #ebeca3; color: #686868; border: 1px solid #d5d685; transition: 0.3s;}

/*lushinform*/

.font .lush{font-family: "Lush";}



.box {width: 60%; height: 790px; float: left; background: #EFEFEF; z-index: 100; position: absolute; top: 50px; right: 42px; box-shadow: -3px 8px 10px rgb(0 0 0 /10%);}
.filebox{width: 90%; height: 90%; overflow: auto; margin: 45px auto 0; display: none;}
.filebox.on{display:block;}
.filebox ul{display:flex; flex-direction:column;}
.filebox li {margin-top: 20px;}
.filebox a{display:block; position:relative;}
figure{width: 100%; height: 100%; overflow: hidden;}
figure img {width: 100%; height: 100%; transition: 0.3s;}
figcaption{width: 100%; height: 100%; background: rgba(0,0,0,0.7); text-align: center; font-size: 17px; position:absolute; top: 0; left: 0; transition: 0.3s; color: #f3f3f3; opacity: 0;}
figcaption h3 {font-size: 25px; margin-bottom: 30px;}
a:hover figcaption, a:focus figcaption{opacity: 1;}
a:hover figure img{transform: scale(1.1);}
#con1 figcaption{padding: 13% 15% 0 15%;}
#con1 li:nth-child(2) figcaption{padding-top: 7%;}
#con1 li:nth-child(3) figcaption{padding-top: 40%;}


/*러쉬*/
#con2 figcaption{padding: 20% 15% 0 15%;}
#con2 li:first-child figcaption,
#con2 li:last-child figcaption {padding-top: 5%;}
#con2 li:nth-child(2) figcaption{padding-top: 50%;}
#con2 li:nth-child(5) figcaption{padding-top: 15%;}


footer{width: 95%; background: #333; margin: -10% auto; height: 115px; box-shadow: -4px 5px 10px rgb(0 0 0 / 20%); }
footer p{color: #9d9d9d; text-align: center; padding-top: 70px; font-size: 16px; font-weight: 600; letter-spacing: 1px;}