@charset "utf-8";


body{
    min-width:0;
    width: 100%;
    

}

.flexbox1{
    height: 100%;
    width: auto;
}


.flexbox2{
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: -198px auto 0;
    background: white;
}

.sec1{
    width: 90%; height:100%;
}

.sec1 .inner{
    text-align: center;
}

.sec2{
 height: auto;
}
.sec2 .inner{
    width: 100%;
    height: auto;
}


.sec2 .inner .bg h3 {
    padding: 50px 0;
    text-align: center;
    color: white;
}



.sec2 .group2{
    margin: 0;
}

.sec2 .group3{
    margin: 0;
}

.title{
    font-size: 20px; 
}

.midtitle{
    font-size: 17px;
}
.explain{
    font-size: 16px;
}


img{ width: 100%; height: auto;}
