@charset "UTF-8";

body{min-width: 630px;}

/*첫번째 섹션*/

.home > img {
    width: 46%;
    height: 22%;
    top: 30%;
    left: 5%;
}

.memoji {
    left: 36%;
    width: 59%;
}

.text_wrap.bar {
    min-width: 630px;
    margin: 20% auto;
    top: 10%;
}
.text_wrap h2{font-size: 3rem;}

.scroll_down {
    top: -4%;
    width: 2%;
    height: 5%;
}
.mouse {
    width: 30%;
    height: 70%;
    border: 3px solid #505050;
}
.mouse_wheel {margin: 0 auto;}


/*두번째 섹션*/

.about {
    flex-direction: column;
    padding: 8% 0 0 0;
}
/*about:L*/
.about .about_left {
    margin: 0 auto;
    width: 80%;
    height: 45%;
}

.line_box {height: 100%;}
.about .about_left .profile,
 .about .about_left .hashtag,
 .about .about_left button {
    display: none;
}
.about_left > a{display: none;}


/*about:R*/
.about .about_right {
    width: 100%;
    margin: 0 auto;
    height: 55%;
}

.title {margin-bottom: 4%;}

.contact, .edu, .licen{margin-bottom: 4%;}
.contact h2, .edu h2, .licen h2{
    font-size: 1.5rem;
    margin-right: 2%;
}
.contact_1 p, .edu_1 p, .licen_1 p {font-size: 1.3rem;}
img.minju {
    top: -92%;
    width: 50%;
}
/*flex.ver btn*/
.about_right button {
    display: block;
    width: 20%;
    margin: 0 auto;
}
/*3rd section*/
.skill {
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
.html, .css, .java, .j-query, .photoshop {
    width: 33%;
}
.skill2 {
    width: 90%;
    height: 55%;
    position: relative;
    top: 18%;
}
.skill2 > span {padding: 5% 0 0 0;}
.skill_area {width: 80%;}
.area1, .area2, .area3 {margin-top: 7%;}
/*4th section, 5th section*/

.bg {
    top: -10%;
    height: 85%;
}
.dokdo, .lush {flex-direction: column;}


p.pb_text{top: 0;}

.result {
    width: 100%;
    height: 40%;
}
img.mobile {
    width: 22%;
    top: 15%;
    left: 18%;
}
img.pc {
    width: 60%;
    top: 15%;
    left: 0;
}


.inform {
    width: 100%;
    margin: 0;
    height: 60%;
}
.inform h1 {font-size: 2.5rem;}
ul.inform_hashtag {
    font-size: 1.7rem;
    width: 85%;
}
.type h2, .page h2, .tool h2 {font-size: 2rem;}
.type_1 p, .page_1 p, .tool_1 p {font-size: 1.5rem;}

.inform .color_btn {left: 20%;}


.inform .color_btn:visited {
    background: #fafafa;
    color: #8BB9DB;
}

/*guidenote modal popup*/
.container {
    top: 10%;
}
.lush img.guidenote_logo {
    width: 200px;
}
img.x_btn {
    top: -12%;
    left: 92%;
}
.lush img.x_btn {
    top: -12%;
    left: 92%;
}

#page_4th p.pb_under {top: 82%;}



/*footer*/
footer .memoji {
    top: 25%;
    left: 5%;
}
footer img.ft_cloud1 {
    width: 45%;
    top: -35%;
    left: 55%;
}