@charset "UTF-8";
/* Lora 폰트, Noto sans kr폰트*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*home 구름 keyframe*/
@keyframes move {
    0% {background-position: center bottom;}
    100% {background-position: 650% bottom;}
}
/*footer 구름 keyframe*/
@keyframes reversemove {
    0% {background-position: center bottom;}
    100%{background-position: -550% bottom;}
}
/*home 마우스 스크롤 keyframe*/
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
/*home 말풍선 keyframe*/
@keyframes bounce {
    0%{ transform: translateY(0%);}
    50%{ transform: translateY(-7%);}
    100%{ transform: translateY(0%);}
}
/*home 타이핑 title keyframe*/
@keyframes typing {
    from {width: 0; }
    to {width: 100%; }
}
/*home 타이핑 title:cursor keyframe*/
@keyframes blink-caret {
    from, to {border-color: transparent; }
    50% {border-color: #656565; }
}
/*footer 흔드는 손 keyframe*/
@keyframes shake {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(30deg);}
    100%{transform: rotate(0deg);}
}

:root{
    --english-font: 'Lora', serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid skyblue; */
}
ul,li{list-style: none;}
a{
    text-decoration: none;
    color: #000000;
}
body{
    min-width: 1280px;
    font-family: 'Noto Sans KR', sans-serif;
}
/*header start*/
header{
    width: 90%;
    height: 70px;
    position: fixed;
    top: 2%;
    left: 5%;
    background: rgba(249, 253, 254, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1.8rem;
    z-index: 100;
    transition: all 0.4s;
}
header.on{
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    background: rgba(139, 185, 219, 0.2);
    height: 75px;
}
header .inner{    
    width: 90%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.logo {
    width: 60px;
    height: 60px;
    margin: 5px 25px;
}
.logo > a{
    width: 60px;
    height: 60px;
    display: block;
}
.logo > a > img {
    width: 100%;
    height: 100%;
}
ul.gnb {
    font-family: var(--english-font);
    display: flex;
    height: 100%;
}
ul.gnb > li {
    margin-right: 30px;
}
.gnb > li > a {
    display: inline-block;
    height: 100%;
    font-size: 1.2rem;
    line-height: 70px;
    font-weight: 600;
    color: #505050;
}
.gnb > li > a:after{
    display: block;
    content: ' ';
    border-bottom: solid 2px #505050;
    position: relative;
    top: -15px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.gnb > li > a:hover:after,
.gnb > li.on > a:after{transform: scaleX(1);}

/*모바일.ver 메뉴*/
.gnb_toggle{display: none;}
.gnb_menu {display: none;}

/*header end*/

main{
    height: auto;
    min-height: 100%;
}

/*첫번째 섹션 start*/
#page_1st {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #CCEAFF, #FFFFFF);
}
.cloud_wrap{
    max-width: 2000px;
    width: 100%;
    height: 100%;
    position: relative;
}
.cloud_wrap > div {
    height: 100%;
    width: 100%;
}
.home{
    background: url(../img/index2/cloude_ver2.png) center bottom / 120% repeat-x;
    width: 100%;
    height: 100%;
    animation: move 50s linear infinite;
}
.home > img {
    width: 450px;
    height: 300px;
    position: relative;
    top: 0;
    left: 10%;
}

/*타이핑 title 영역*/
.text_wrap{
    font-family: var(--english-font);
    min-width: 1024px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text_wrap h2 {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
}
.text_wrap .text_typing:first-child h2.text {
    border-right: .15rem solid #656565;
    animation:
        typing 2.5s steps(22, end),
        blink-caret .5s step-end 5;
    animation-fill-mode: forwards;
}
.text_wrap .text_typing:last-child h2.text {
    border-right: .15rem solid #656565;
    animation:
        typing 3s steps(25, end),
        blink-caret .5s step-end infinite;
    animation-fill-mode: both;
    animation-delay: 2.7s;
}


/*미모티콘 영역*/
.memoji {
    display: flex;
    position: relative;
    top: -55%;
    left: 60%;
    z-index: 1;
    width: 40%;
}
.memoji img.memoji_hi {
    width: 200px;
    height: 220px;
    animation: bounce 1s linear infinite;
    position: relative;
    top: 0;
    left: 10%;
}
.memoji img.woozu_hi {
    width: 240px;
    height: 240px;
}

/*마우스모양 스크롤 영역*/
.scroll_down {
    position: relative;
    top: -25%;
    left: 0;
    margin: auto;
    width :37px;
    height: 59px;
}
.mouse {
    width: 2px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #505050;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.mouse_wheel {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #656565;
    animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
}
/*첫번째 섹션 end*/


/*두번째 섹션 start*/
#page_2nd {
    width: 100%;
    height: 100vh;
}
.about{
    width: 85%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 5% 0 0 0;
}
/*about:L start*/
.about .about_left{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 20px 0 0 0;
}
/*이미지 영역*/
.line_box{
    width: 100%;
    z-index: 1;
    height: 57%;
}
.rect_1 {
    fill: none;
    stroke: #A5D9FF;
    stroke-width: 2;
}
.rect_2{
    fill: none;
    stroke: #8BB9DB;
    stroke-width: 2;
}
.rect_3{
    fill: none;
    stroke: #5FAAE0;
    stroke-width: 2;
}
img.minju{
    width: 220px;
    display:block;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    top: -95%;
}

/*프로필 영역*/
.profile{
    text-align: center;
    margin: 7% 0;
    font-weight: 600;
    font-size: 1.5rem;
    color:#373737;
}
.profile .name{font-family: var(--english-font);}
.hashtag{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
}
.hashtag p{
    color: #8BB9DB;
    font-size: 1.2rem;
    font-weight: 600;
}

/*about:btn 영역*/
.btn {
    margin: 20px auto;
    font-family: var(--english-font);
}
.btn-flip-down {
--flip-button-height: 40px;
height: var(--flip-button-height);
color: transparent;
border: none;
border-radius: 0;
perspective: 500px;
transition: 0.3s;
width: 40%;
height: 40px;
}
.btn-flip-down:hover {
color: transparent;
background: transparent;
}
.btn-flip-down .front,
.btn-flip-down .back {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
}
.btn-flip-down .front {
background: #8BB9DB;
color: white;
transition: 0.3s;
transform-origin: center center calc(var(--flip-button-height) / -2);
}
.btn-flip-down .back {
color: white;
background: #8bb9db;
transform: rotateX(88deg);
transform-origin: center center calc(var(--flip-button-height) / -2);
transition: 0.3s;
}
.btn-flip-down:hover .front {
transform: rotateX(-90deg);
letter-spacing: 2px;
font-weight: 600;
}
.btn-flip-down:hover .back {
transform: rotateX(0deg);
letter-spacing: 2px;
font-weight: 600;
}
/*about:L end*/



/*about:R start*/
.about .about_right{
    width: 65%;
    margin: 50px 0 0 20px;

}
/*title 영역*/
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 7%;
}
.title_1, .title_2{
    display: flex;
    height: 50px;
    line-height: 50px;
    justify-content: center;
}
h1.tt_empty {
    color: rgba(256,256,256,100%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 15px 0 15px;

}
/*about 영역*/
.contact, .edu, .licen, .skill{
    display: flex;
    width: 100%;
    margin-bottom:40px;
}
.contact h2, .edu h2, .licen h2, .skill h2 {
    font-family: var(--english-font);
    width: 20%;
    text-align: center;
    color: #8BB9DB;
}
.contact_1 p, .edu_1 p, .licen_1 p, ul.skill_1 p {font-size: 1.2rem;}
.contact_1 p, .edu_1 p, .licen_1 p{margin: 0 0 10px 0;}
.contact_1 .font {
    font-family: var(--english-font);
    font-weight: 600;
}
ul.skill_1 {
    font-family: var(--english-font);
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-weight: 600;
}
/*flex.ver btn */
.about_right button{display: none;}

/*두번째 섹션 end*/


/*세번째 섹션 start*/
#page_3rd {
    width: 100%;
    height: 100vh;
}
.publishing {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 5% 0 0 0;
    margin: 0 auto;
}
/*섹션 background text*/
p.pb_text {
    font-family: var(--english-font);
    color:  #FFFFFF;
    text-shadow: -2px 0 lightgray, 0 2px lightgray, 2px 0 lightgray, 0 -2px lightgray;
    font-size: 150px;
    position: relative;
    top: -3%;
    left: 0;
    z-index: 1;
}
/* pb */
.bg {
    width: 100%;
    height: 75%;
    background: rgba(139, 185, 219, 0.4);
    position: relative;
    z-index: 10;
    top: -15%;
    left: 0;
}
.dokdo, .lush{
    display: flex;
    height: 100%;
    width: 85%;
    margin: 0 auto;
}
/*pb 결과 영역*/
.result {width: 40%;}
img.mobile {
    width: 200px;
    z-index: 2;
    position: relative;
    top: 25%;
    left: -10%;
}
img.pc {
    width: 500px;
    z-index: 1;
    position: relative;
    top: -50%;
    left: 0;
}
/*pb 설명 영역*/
.inform {
    width: 60%;
    margin-left: 2%;
    color: #313131;
}
.inform h1 {
    text-align: center;
    margin: 4% 0 3% 0;
}
ul.inform_hashtag {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
    color: #373737;
}
.type, .page, .tool{
    display: flex;
    height: 12%;
    margin: 30px 0 0 0;
}
.type h2, .page h2, .tool h2{
    margin-right: 20px;
    font-family: var(--english-font);
}
.page_1 {display: flex;}
.type_1 p, .page_1 p, .tool_1 p{
    font-size: 1.2rem;
    font-weight: 600;
}
.page_1 p{font-family: var(--english-font);}
.page_1 .font{font-family: 'Noto Sans KR', sans-serif;}
.tool_1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: var(--english-font);
}
/*pc.ver btn*/
.inform .btn {
    font-family: var(--english-font);
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 10px -4px  rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: 0.25s;
    margin: 25px 30px;
    left: 25%;
    font-size: 15px;
}
.inform .btn:hover {
   background: #ebebeb;
    cursor: pointer;
}
.inform .btn:active {transform: scale(1.2);}
.inform .btn_color {
    background: #fafafa;
    color: #8BB9DB;
}
/*모바일 설명 btn, 모달창*/
.inform .more_bt{display: none;}
.md_wrap{display: none;}

/*세번째 섹션 end*/

/*네번째 섹션 start*/
#page_4th {
    width: 100%;
    height: 100vh;
}
#page_4th .publishing{background: linear-gradient(180deg, #FFFFFF, #CCEAFF);}
#page_4th .inform h1 {font-family: var(--english-font);}  
/*섹션 background text*/
#page_4th p.pb_under{
    color: #D1EBFF;
    position: relative;
    top: 72%;
    left: 0%;
    text-align: right;
}    
#page_4th .bg {background: rgba(0, 0, 0, 0.2);}
/*네번째 섹션 end*/


/*footer start*/
footer{
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, #CDEAFF, #A6D9FF);
}
.footer_cloud{
    background: url(../img/index2/cloude_ver2.png) center bottom / 120% repeat-x;
    width: 100%;
    height: 100%;
    animation: reversemove 50s linear infinite;
}
footer img.ft_cloud1{
    width: 500px;
    position: relative;
    top: -40%;
    left: 60%;
}
/*미모티콘 영역*/
footer .memoji {
    top: 15%;
    left: 10%;
}
.memoji img.woozu_bye {
    width: 240px;
    height: 240px;
}
.speech_bubble{
    display: flex;
    position: relative;
    top: 0;
    left: -7%;
}
.speech_bubble img.memoji_bye {
    width: 200px;
    height: 220px;   
}
.speech_bubble img.hand{
    width: 45px;
    height: 45px;
    position: relative;
    top: 35%;
    left: -36%;
    transform-origin: bottom right;
    animation: shake 1s 0.5s infinite;
}

/*copyright 영역*/
.foot_text {
    font-family: var(--english-font);
    text-align: center;
    position: relative;
    top: 70%;
    z-index: 10;
}
.foot_text h3 {
    margin-bottom: 20px;
}
p.copyright {
    font-size: 20px;
}
