@charset "UTF-8";
/*font 추가히기*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    outline: 1px solid pink;
    word-break: keep-all;
}

ul,li{list-style: none;}
a, a:hover, a:active, a:focus{text-decoration: none; color: #000;}
button{cursor: pointer; background: none; border: 0;}
span.sp_hidden{display:none;}
