@charset "UTF-8";

body{min-width: 1280px;}
#container{width: 100%;}
.content {
    width: 1020px;
    margin: 0 auto;
}
/*---------------------spi_area----------------------*/
#spi_area {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
ul.spi_list {display: flex;}
ul.spi_list .spi_btn {
    width: 29px;
    height: 29px;
    overflow: hidden;
    margin-right: 5px;
}
ul.spi_list .spi_icon{
    background-image: url(/cobi_ro/img/test1/sp_spi_pc.png);
    display: inline-block;
    text-indent: -999px;
    width: 29px;
    height: 29px;
}
ul.spi_list .spi_blog > .spi_icon{background-position: -132px -152px;}
ul.spi_list .spi_cafe > .spi_icon{background-position: 0px -152px;}
ul.spi_list .spi_keep > .spi_icon{background-position: -66px -152px;}
ul.spi_list .spi_release > .spi_icon{
    background-position: -182px -278px;
    width: 19px;
    height: 20px;
}
ul.spi_list .spi_release {
    padding: 4px;
    border: 1px solid #ddd;
}
/*-----------------------------------------------------*/
.nav_area {
    display: flex;
    font-size: 12px;
    line-height: 29px;
}
ul.nav{display: flex;}
ul.nav .navli{vertical-align: top;}
ul.nav .navli > a {color: #8f8f8f;}
ul.nav li.nav_homecafe > a::before,
ul.nav li.nav_mugcup > a::before{
    content: "＞";
    display:inline-block;
    color: #ddd;
    margin: 0 6px;
    cursor: default;
    font-size: 10px;
}
ul.nav .nav_more button .blind{display: none;}
ul.nav .nav_more button::after{
    display:inline-block;
    content:"";
    border: 4px solid transparent;
    border-top-color: #5f5f5f;
    margin: 7px 0 0 4px;
}
li.nav_homecafe,
li.nav_mugcup {display: flex;}
.nav_mugcup .mug,
.nav_mugcup .mug_st > strong {
    color: #5f5f5f;
    font-weight: 900;
}
.other_more:before {
    display: inline-block;
    content: "|";
    color: #ddd;
    margin: 1px 7px -1px 4px;
    vertical-align: top;
    font-size: 12px;
}
.other_more > button {
    font-size: 11px;
    line-height: 29px;
    color: #8f8f8f;
    letter-spacing: -1px;
}
.other_more > button:after{
    content: "";
    display:inline-block;
    border: 3.7px solid transparent;
    border-top-color: #8f8f8f;
    margin: 7px 0 0 3px;
}
/*---------------------------goods_area----------------*/
div#goods_area {
    display: flex;
    border: 1px solid #ededed;
    width: 100%;
}
/*-------------------goods_left-------------------------*/
.goods_left,
.goods_right {width: 50%;}
.goods {
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.goods_imgs img.finder_mug {
    display: block;
    width: 510px;
    height: 510px;
}

ul.list_mini {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
}
.mini_img {
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
}
a.mug_list {
    display: block;
    width: 100%;
    height: 100%;
}
.mug_list > img {
    width: 100%;
    height: 100%;
}
/*-----------------------------------------------------*/
.goods_lbt {
    display: flex;
    font-size: 12px;
    color: #555;
    position: relative;
    top: 33%;
    left: 0px;
    margin: 0 0 0 25px;
}
.goods_lbt .lbt > a {display: inline-block;}
.goods_lbt .lbt strong {
    font-size: 20px;
    font-weight: 900;
    padding: 0 5px;
    letter-spacing: -2px;
}
.goods_lbt .com::before{
    display:inline-block;
    content: "ㆍ";
    color: #555;
    font-size: 20px;
}
.goods_lbt .lbt > span {
    vertical-align: top;
    line-height: 23px;
}
.goods_lbt .com .slash {
    font-size: 20px;
    font-weight: 300;
    color: #ddd;
    margin: 0 5px;
}
/*------------goods_right----------------------------------*/
.goods_right {
    border-left: 1px solid #ededed;
    padding: 30px 40px;
}
.goods_price1 {margin-bottom: 15px;}
.goods_title {line-height: 28px;}
.goods_title h3 {
    font-size: 20px;
    color: #222;
    word-break: break-all;
    word-wrap: break-word;
}
/*-----------------------------------------------------*/
.price_area {
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sale_pg{display:block;}
.sale_pg .pg{
    background-image: url(/cobi_ro/img/test1/spText.png);
    background-position: -387px -381px;
    background-color: #6b90dc;
    display: inline-block;
    width: 17px;
    height: 24px;
    margin: 0 -4px 0 0;
}
.sale_pg .pg5{
    background-position: -439px -381px;
    width: 16px;
}
.sale_pg .per{
    background-position: -79px -416px;
    width: 24px;
}
.fn_prc del{
    display: inline-block;
    color: #a6a6a6;
    vertical-align: top;
    position: relative;
    font-weight: 900;
}
.fn_prc del span{
    font-size: 16px;
    text-decoration: line-through;
    display: inline-block;
}
.fn_prc del > .won {
    margin-left: -3px;
    font-size: 12px;
    font-weight: 300;
}
.fn_prc strong{
    display:inline-block;
    color: #000;
    vertical-align: top;
    margin: 0 0 0 7px;
    letter-spacing: -1px;
}
.fn_prc strong span {
    font-size: 24px;
    font-weight: 900;
}
.fn_prc strong .won {
    font-size: 18px;
    position: relative;
    top: 1px;
}
/*-----------------------------------------------------*/
.goods_price2 {
    border: 1px solid #989aa5;
    padding-bottom: 20px;
}
.goods_price2 .price2_1 {
    border-bottom: 1px solid #f4f4f4;
    padding: 13px 16px;
}
.price2_1 .customer_benefits strong {
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    color: #000;
    display: inline-block;
}
.customer_benefits strong span {display: inline-block;}
/*-------------------------------------------------------*/
.price2_2 {padding: 18px 16px 0;}
.price2_2 .point {
    display: flex;
    justify-content: space-between;
}
.price2_2 .point strong {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}
.price2_2 .point .point_score {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}
.price2_2 .point .point_score > span {
    font-weight: 900;
}
.qicon {
    display: inline-block;
    margin-left: 3px;
}
.qicon button{
    width: 16px;
    height: 16px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    cursor:pointer;
}
.qicon button > span{display:none;}
.qicon button::before{
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -613px -367px;
    height: 8px;
    width: 6px;
    display: block;
    content: "";
    margin: 0 auto;
}
ul.point_list {margin-top: 3px;}
ul.point_list li.point1 {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 17px;
    color: #999;
}
ul.point_list li.point1::before{
    content:"";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 7px;
    height: 6px;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
ul.point_list li.point1 .pt {
    display: flex;
    justify-content: space-between;
}

/*--------------------------------------*/
.price2_3 {
    background: #f7f8fa;
    border: 1px solid #dce0e3;
    margin: 15px 16px 0;
    padding: 14px 16px;
}
.price2_3 .tip_area {
    display: flex;
    justify-content: space-between;
}
.price2_3 .tip_area .pt_tip {
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: #333;
}
.price2_3 .tip_area .pt_tip::before{
    content:"";
    background-image: url(/cobi_ro/img/test1/spText.png);
    background-position: -453px -246px;
    width: 28px;
    height: 11px;
    display:inline-block;
    margin: 2px 3px 0 0;

}
.price2_3 .tip_area .pt_tip1 {
    font-size: 12px;
    line-height: 15px;
}
.pt_tip1 span {
    font-size: 12px;
    font-weight: 600;
    margin-right: 4px;
}
.pt_tip1 strong{
    font-size: 13px;
    display:inline-block;
    font-weight: 900;
}
.price2_3 .pt_tplist {
    font-size: 12px;
    margin-top: 3px;
    line-height: 14px;
    color: #999;
}
.price2_3 .pt_tplist .tp_list {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.pt_tplist .tp_list .tp_n::before{
    content: "";
    display: inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -661px -546px;
    width: 57px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.pt_tplist .tp_list .navp::before{
    content: "";
    display: inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -371px -468px;
    width: 34px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.tp_n > a,
.navp > a {
    text-decoration: underline;
    color: #999;
}
.pt_tplist .tp_list .tp_n > a::after,
.pt_tplist .tp_list .navp > a::after{
    content: "";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spArrow_svg.png);
    background-position: -212px -164px;
    width: 5px;
    height: 8px;
    margin: 4px 0 0 4px;

}
/*----------------------------------------------------*/
a.banner {
    padding: 0 0 0 17px;
    margin-top: 11px;
    background: #192346;
    position: relative;
}
.banner, .banner > img {
    height: 42px;
    display: block;
}
a.banner::after {
    content:"";
    display:inline-block;
    position:absolute;
    background-image: url(/cobi_ro/img/test1/spArrow_svg.png);
    background-position: -226px -74px;
    width: 6px;
    height: 10px;
    top: 17px;
    right: 16px;
}
/*---------------------------------------------------*/
ul.install {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
li.benefits {
    display: flex;
    border-bottom: 1px solid #ededed;
    margin-top: 13px;
    line-height: 18px;
    padding-bottom: 10px;
}
li.benefits .card {margin-right: 5px;}
li.benefits .card::before{
    display: inline-block;
    content: "|";
    color: #ededed;
    margin: 1px 7px 0px 4px;
    vertical-align: top;
    font-size: 14px;
}
/*---------------------------------------------------*/
.delivery_area {
    padding-bottom: 16px;
    margin-top: 12px;
    font-size: 13px;
    border-bottom: 1px solid #ededed;
}
.delivery_area .del1 {
    color: #333;
    line-height: 20px;
}
.delivery_area .del1 .card,
.delivery_area .del1 .com{display:inline-block;}
.delivery_area .del1 .card::before{
    content:"|";
    display:inline-block;
    vertical-align: top;
    color: #e9e9e9;
    margin: 1px 7px 0 4px;
    font-size: 13px;
}
.delivery_area .del1 .com::before{
    content:"ㆍ";
    display:inline-block;
    font-size: 13px;
    color: #333;
}
.delivery_area > p {
    margin-top: 3px;
    color: #999;
    line-height: 18px;
    word-break: break-all;
}
.del2 {
    margin-top: 3px;
    line-height: 18px;
}
.del2 > a {
    display: block;
    text-decoration: underline;
    color: #333;
}
.del2 > a::after{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -802px -473px;
    background-color: #2f2f2f;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-top: 1px;
}
/*---------------------------------------------------*/
.select_area {
    margin: 16px 0;
    font-size: 13px;
}
.select_area .select{position:relative;}
.select_area .select > .color{
    display: block;
    line-height: 36px;
    height: 34px;
    padding: 0 35px 0 15px;
    border: 1px solid #d2d6dd;
    color: #333;
    background: #fff;
    position: relative;
    z-index: 1;
}
.select_area .select > .color:hover,
.select_area .select > .color:focus{border-color: #777;}

.select_area .select > .color::after{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spArrow_svg.png);
    background-position: -616px -130px;
    width: 17px;
    height: 11px;
    vertical-align: top;
    position: absolute;
    top: 11px;
    right: 15px;
}
/*addclass on 했을 시 방향아이콘 변경*/
.select_area .select > .color.on::after {background-position: -639px -130px;}
ul.select_list {
    display: none;
    background: #fff;
    border: 1px solid #9ca3ab;
    margin-top: -1px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
}
/*addclass on 했을 시 컬러리스트 보이기*/
ul.select_list.on{display:block;}
li.selectbox {border-top: 1px solid #9ca3ab;}
li.selectbox:first-child {border-top: 0;}
li.selectbox > a {
    display: block;
    line-height: 36px;
    height: 36px;
    padding: 0 15px;
    color: #666;
}
li.selectbox > a:hover{background: #ededed;}
/*----------------------------------------------------*/
/*.purquanti {display: none;}*/
ul.quanti_list {
    border: 1px solid #c7c7c7;
    border-left: 0;
    border-right: 0;
}
li.quanti_area {
    padding: 15px 14px 15px 0;
    border-top: 1px solid #ededed;
    position: relative;
    display: none;
}
/*컬러 선택 시 컬러항목에 맞는 장바구니영역 나타남*/
li.quanti_area.on{display: block;}
li.quanti_area:first-child {border-top: 0;}
.quanti > p {
    font-size: 13px;
    color: #333;
    margin: 0 119px 12px 0;
    line-height: 20px;
}
li.quanti_area .quanti .qt1{
    display: flex;
    justify-content: space-between;
}
li.quanti_area .quanti .qt1 .quantibox {
    height: 34px;
    border: 1px solid #dde0e3;
    min-width: 113px;
    gap: 0;
    display: flex;
}
.qt1 .quantibox button {
    width: 34px;
    height: 100%;
    background: #f1f2f4;
    position: relative;
}
.qt1 .quantibox .minus:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -5px;
}
.qt1 .quantibox input.number {
    width: 44px;
    height: 100%;
    vertical-align: top;
    border: 1px solid #eff1f5;
    border-width: 0 1px;
    font-size: 12px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qt1 .quantibox .plus:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -5px;
}
.qt1 .quantibox .plus:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -1px;
}
.qt1 .price {
    font-size: 13px;
    margin: 8px 10px 0 0;
}
.qt1 .price .price1 {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    color: #222;
    vertical-align: middle;
    margin-top: -3px;
}
.quanti_area .xmark {
    position: absolute;
    right: 0;
    bottom: 29px;
    line-height: 0;
}
.quanti_area .xmark::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -149px -784px;
    width: 13px;
    height: 13px;

}
/*----------------------------------------------------*/
.total_area {
    display: flex;
    font-size: 13px;
    line-height: 23px;
    margin-top: 26px;
    position:relative;
}
.total_area > .qicon {margin-left:5px;}
.total_quanti {
    position: absolute;
    top: 0;
    right: 0;
}
.total_quanti em {
    display: inline-block;
    padding-right: 15px;
    color: #999;
    vertical-align: top;
}
.total_quanti em::after{
    content: "|";
    display: inline-block;
    vertical-align: top;
    color: #e9e9e9;
    margin: 0 7px 0 4px;
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 8px;
}
.total_quanti strong {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    vertical-align: top;
    margin-top: 0px;
    color: #6b90dc;
}
.total_quanti strong > span {
    font-size: 24px;
    position: relative;
    top: 2px;
}
/*---------------------------------------------------*/
.buy_area {
    padding-top: 16px;
}
.buy1 {
    width: 100%;
    padding: 2px;
}
.buy1 > a {
    display: block;
    height: 50px;
    border-radius: 3px;
    background-color: #03c75a;
    position:relative;
}
.buy > a::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spText.png);
    background-position: -236px -133px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    height: 22px;
}
.buy2 {
    display: flex;
    gap: 5px;
}
.buy2 .steam,
.buy2 .basket {
    padding: 2px;
    width: 100%;
}
.buy2 .steam > a,
.buy2 .basket > a{
    display:block;
    border-radius: 3px;
    border: 1px solid #dcdee0;
    background-color: #fff;
    height: 50px;
    text-align: center;
}
.steam > a::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -744px -503px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-top: 15px;
}
.steam > a::after{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spText.png);
    background-position: -82px -300px;
    width: 40px;
    height: 14px;
    vertical-align: top;
    margin: 16px 0 0 6px;
}
.basket > a::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spText.png);
    background-position: -96px -164px;
    width: 80px;
    height: 20px;
    vertical-align: top;
    margin-top: 15px;
}
.buy_area .blind{display: none;}
/*---------------------------------------------------*/
.essen {
    margin-top: 14px;
    line-height: 15px;
    font-size: 12px;
}
.essen1 {margin-top: 8px;}
.essen > span{color: #999;}
.essen::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon_png.png);
    background-position: -158px -67px;
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-right: 4px;
}
.essen > a{
    margin-left: 5px;
    color: #00c73c;
    font-weight: 600;
}
.essen::after{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon_png.png);
    background-position: -206px -67px;
    width: 5px;
    height: 7px;
    margin-left: 2px;
    vertical-align: middle;
}
/*-------------------review_area---------------------*/
.review {
    padding: 30px 0 2px;
    border: 1px solid #ededed;
    border-top: 0;
}
.review_1 {
    display: flex;
    justify-content: space-between;
    line-height: 19px;
    padding: 0 39px;
    font-size: 12px;
    background-color: #fff;
}
.review_1 > ul,
.review_1 .review_more {display: flex;}
li.review_store::before {
    content: "";
    display: inline-block;
    margin: 1px 10px 0;
    width: 1px;
    background-color: #ededed;
    height: 17px;
    vertical-align: top;
}
li.review_photo > a {
    display: block;
    font-weight: 600;
    color: #313131;
}
li.review_store {display: flex;}
li.review_store > a {
    display: block;
    font-weight: inherit;
    color: #8f8f8f;}
li.review_photo em,
li.review_store em {
    color: #6b90dc;
    margin-left: 2px;
}
.review_more > a {color: #8f8f8f;}
.review_more .re_updown {
    margin-left: 7px;
    display: flex;
}
.re_updown > a {display: block;}
.review_more .re_updown .down::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spArrow_svg.png);
    background-position: -4px -132px;
    width: 19px;
    height: 19px;
}
.review_more .re_updown .up::before{
    content:"";
    display:inline-block;
    background-image: url(/cobi_ro/img/test1/spArrow_svg.png);
    background-position: -31px -132px;
    width: 19px;
    height: 19px;
}
.review_2 {margin: 19px 0;}
ul.review_list {
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
}
li.rev {
    width: 50%;
    height: 100px;
    padding: 0 39px;
    border-right: 1px solid #f2f2f2;
}
li.rev > a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    vertical-align: middle;
}
li.rev3 > a,
li.rev4 > a{
    border-top: 1px solid #f2f2f2;
    padding-top: 17px;
}
li.rev .rev_con {width: 80%;}
li.rev .rev_con .rev_info {height: 36px;}
.rev_con .rev_info .rev_star span {
    display: inline-block;
    background-image: url(/cobi_ro/img/test1/spIcon.png);
    background-position: -661px -101px;
    vertical-align: top;
    width: 74px;
    height: 14px;
}
.rev_con .rev_info .rev_star > em {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    color: #000;
    vertical-align: top;
    margin-left: 5px;
}
.rev_info .rev_name {
    height: 16px;
    line-height: 16px;
    display: inline-block;
    max-width: 100%;
    margin-top: 6px;
    padding-right: 40px;
}
.rev_info .rev_name > strong,
.rev_info .rev_name .rev_date {
    color: #999;
    line-height: 14px;
    font-weight: normal;
}
.rev_name .rev_color{color: #aaa;}
.rev_name .rev_date::before,
.rev_name .rev_color::before{
    content:"ㆍ";
    display:inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #d8d8d8;
}
.rev_coment {
    color: #5f5f5f;
    margin-top: 8px;
    line-height: 18px;
    word-break: break-all;
    max-height: 36px;
}
.photo {
    width: 80px;
    height: 80px;
    position: relative;
}
/* li.rev:nth-child(2) .photo {
    width: 90px;
    height: 80px;
} */
.photo > img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
}