@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*noto sans kr*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Noto Sans KR', sans-serif;
    outline: 1px solid pink;
    word-break: keep-all;
}

ul,li{list-style: none;}
a, a:hover, a:active, a:focus{text-decoration: none; color: #000;}
button{cursor: pointer; background: none; border: 0;}
span.sp_hidden{display:none;}
