@charset "UTF-8";

body{min-width: 393px;}
/*--------------------header----------------------------------------*/
header {height: auto;}
.header_wrap .head_top {display: none;}
.head_under .head_wrap .header_logo_area{padding: 0;}
.head_under .header_logo_area > a{padding: 23px 0;}
.header_logo_area > a > img.header_logo {width: 100px;}

nav {display: none;}
.subnav_area {display: none;}
.gnb_wrap ul.gnb {display: none;}
.view_btn_area {padding: 28px 0;}
.view_btn_area button.view_btn {
    width: 20px;
    height: 20px;
}


.header_wrap .mb_gnb_bg {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 90;
}
.header_wrap .mb_gnb_bg.on{display: block;}
.header_wrap .mb_nav {
    display: block;
    width: 75%;
    height: 100vh;
    background: #00519b;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: translate(100%,0);
    transition: all 0.5s;
}
.header_wrap .mb_nav.on {
    transform: translate(0%,0);
    transition: all 0.5s;
}

.mb_nav .mb_nav_inner {
    display: flex;
    flex-direction: column;
}
.mb_nav_up {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}
.mb_nav_up .mb_nav_logo > img {
    width: 120px;
    height: 100%;
}
.mb_nav_inner .mb_btn{
    width: 20px;
    height: 26px;
    background-image: url(/cobi_ro/img/icon/xmark.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
}

ul.gnb_mb li.depth1_mb {
    width: 100%;
    border-bottom: 1px solid #eee;
}
ul.gnb_mb li.depth1_mb > a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
ul.gnb_mb li.depth1_mb > a:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/cobi_ro/img/icon/under_arrow_white.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10%;
    margin: 20px 0;
}
ul.gnb_mb li.depth1_mb > .on:after{
    background-image: url(/cobi_ro/img/icon/up_arrow_white.png);
}
ul.gnb_mb li.depth1_mb ul.depth2_mb {
    width: 100%;
    height: auto;
    display: none;
    background: #1e63a5;
}
ul.gnb_mb li.depth1_mb.on ul.depth2_mb{display: block;}
ul.gnb_mb li.depth1_mb ul.depth2_mb li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-left: 5%;
}
ul.depth2_mb > li > a {
    display: block;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
}
/*------------------------------------------------------------------------------------------*/

.visual_inner {padding: 0 5%;}
.visual_text {font-size: 1.4rem;}
.visual_text > span:first-child{
    padding: 0 0 5px 0;
    font-weight: 600;
}
.main{position: relative;}
.main > img{
    height: 100%;
    width: auto;
    position: absolute;
    top: -50%;
    right: -22%;
    transform: translate(30%, 50%);
}
/*--------------------------------------------------------------------------------------------*/
.title_inner{padding: 50px 0;}
.info_inner {
    padding: 0 6%;
}
.info_wrap {
    margin: 0;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.info_card {
    width: 340px;
    height: 250px;
    position: relative;
    top: 0;
    left: 0;
}
.infocard_title > p {font-size: 16px;}
.infocard_content > h4 {font-size: 18px;}
.infocard_content > p{font-size: 12px;}
/*------------------------------------------------------------------------------------------*/
#tour_area {
    height: auto;
}
/*----------------------------operate_area-------------------------------------------*/
#operate_area {
    height: auto;
}
.operate_inner {padding: 0 6%;}
.operate_inner .title_inner {padding: 50px 0;}
.title_inner > p {
    font-size: 13px;
}
.title_inner > h3 {font-size: 15px;}
.operate_wrap {padding-bottom: 25%;}
.operate_wrap .wrapper {
    flex-flow: row wrap;
    gap: 20px;
}
.operate {
    width: 47%;
    height: 240px;
}
.operate > a {
    width: 100%;
    height: 240px;
}
.operate a > button{display: none;}
.operate .con_title{
    padding: 15px;
    gap: 0;
}
.con_title > img {
    width: 35px;
    height: 35px;
}
.operate .con_title > span{
    font-size: 16px;
    margin-top: 5px;
}
.con_text {
    font-size: 0.85rem;
    margin: 0 15px;
    padding: 15px 0;
    line-height: 20px;
    height: 40%;
}


/*-----bidinfo_area----------------------------------------------------------*/
.bidinfo_inner{padding: 0 6%;}
.bidinfo1, .bidinfo2, .bidinfo3, .bidinfo4 {padding-bottom: 7%;}
.bidinfo1 > a, .bidinfo2 > a, .bidinfo3 > a, .bidinfo4 > a {
    gap: 0;
}
.bidicon {margin-right: 15px;}
.bidicon > .icon {
    width: 70px;
    height: 70px;
}
.bidicon .icon > img {margin: 17px;}
.bidinfo > p {font-size: 12px;}
.bidinfo > p > em {
    font-size: 15px;
    line-height: 15px;
}
.bidinfo > p > em:after {
    top: 0;
    left: 0;
    width: 190px;
    height: 15px;
}





/*---------------------------------------------------------------------------------*/
#survey_area {height: auto;}
.mb_survey {
    padding: 4% 10%;
    display: block;
}
.survey_inner .title_inner {padding: 15px 0 0 0;}
.mb_surveyList{padding: 3% 0;}
ul.mb_survey_inner {display: flex;}
ul.mb_survey_inner > li {
    width: 45%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
ul.mb_survey_inner > li:nth-child(3){width: 95%;}
ul.mb_survey_inner > li:nth-child(4){width: 90%;}
ul.mb_survey_inner > li:nth-child(5){width: 60%;}
ul.mb_survey_inner > li > a::before{
    content:"ã†";
    display:inline-block;
    font-size: 1rem;
}
ul.mb_survey_inner > li > a {
    color: #fff;
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
}
.survey_wrap {display: none;}

#survey_area .title_inner > h3{color: #fff;}


/*-------------footer-----------------------------------*/
footer{height: auto;}
footer .footer_inner {
    font-size: 12px;
    padding: 20px 25px 0;
    flex-direction: column;
}
footer .footer_inner .footer_area {
    flex-direction: column;
    /* gap: 15px; */
}
footer .footer_inner .footer_area .footer_logo_area {
    padding: 15px 0;
}
footer .footer_inner .footer_area .footer_logo_area > img.footer_logo {
    width: 50%;
    height: 20%;
}
.footer_inner .footer_area .footer_theme ul.footer_nav {
    flex-flow: row wrap;
    gap: 0;
}
.footer_inner .footer_area .footer_theme ul.footer_nav > li {
    margin-right: 7px;
    padding-bottom: 5px;
}
.footer_area .footer_theme > address{margin-top: 15px;}
.footer_inner .footer_logo2_area {
    width: 35%;
    margin: 0 auto;
}
.footer_inner .footer_logo2_area > img.footer_logo2 {width: 100%;}