@charset "UTF-8";


body{max-width: 1920px;}

header {
    background: none;
    position: absolute;
    width: 100%;
    z-index: 90;
}
.header_wrap {
    display: flex;
    flex-direction: column;
}
.header_wrap .head_top {border-bottom: 1px solid #eee;}
header .head_wrap {
    padding: 0 7%;
    height: 100%;
}
header .head_wrap .head_top_inner {
    display: flex;
    justify-content: right;
    padding: 5px 0;
}
button.english > span {
    color: #fff;
    line-height: 30px;
    line-height: 30px;
    display: inline-block;
}
button.english:after {
    content: "";
    display: inline-block;
    margin: 6px 10px;
    background: #e6e6e6;
    vertical-align: top;
    width: 1px;
    height: 65%;
}
.head_top_inner ul.sns_list{
    display: flex;
    gap: 5px;
}
li.sns_btn {
    width: 30px;
    height: 30px;
    margin: auto 0;
}
ul.sns_list .sns_btn .sns{
    width: 100%;
    height: 100%;
    display:block;
    background-image: url(/cobi_ro/img/sns/sns07.png);
    background-position: 214px 473px;
    background-size: 220px;
}
ul.sns_list .blog .sns{background-position: 110px 473px;}
ul.sns_list .insta .sns{background-position: 73px 473px;}
/*---------------header_under--------------------*/
header .head_under {border-bottom: 1px solid #eee;}
.head_under .head_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
}
.head_under .head_wrap .header_logo_area {
    height: 100%;
    padding: 7px 0;
}
.head_under .header_logo_area > a{display: block;}
.gnb_wrap{display: flex;}
.gnb_wrap ul.gnb{
    display: flex;
    margin-right: 50px;
}
li.depth1 {width: 10rem;}
li.depth1 > a {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 60px;
}
ul.gnb > li.all {
    background-color: #f5f5f5;
    width: 100%;
    height: 0;
    position: absolute;
    display: flex;
    top: 105px;
    left: 0;
    justify-content: right;
    align-items: flex-start;
    overflow-y: hidden;
    padding-right: 11.5%;
}
.depth1_inner {
    background: #2a3eb9;
    /* -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important; */
    height: 100%;
    padding: 2% 3%;
    border-bottom-right-radius: 55px;
    /* position: relative;
    left: 0; */
}
span.depth1_text {
    color: #fff;
    text-align: right;
    padding: 20px 0;
    font-size: 0.95rem;
    font-weight: 300;
}
span.depth1_text > p {
    line-height: 25px;
}
.depth1_text p:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 400;
}
.daejeon_icon {
    width: 100%;
    height: 96%;
    padding-top: 20px;
}
.daejeon_icon > img {
    width: 100%;
    height: 90%;
}

ul.gnb > li.all > ul.depth2 {
    width: 10rem;
    padding: 20px 0 0 0;
}
ul.gnb > li.all > ul.depth2 li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
ul.gnb > li.depth1 > ul.depth2 > li:hover > a{
    color: #00519b;
    font-weight: 600;
}
ul.gnb li:hover ~ li.all,
ul.gnb li.all:hover,
ul.gnb li.all.on{
    height: 340px;
    transition: height 0.5s;
}
.view_btn_area {padding: 16px 0;}
.view_btn_area button.view_btn {
    background-image: url(/cobi_ro/img/dokdo/bars-solid.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}
.header_wrap .mb_nav{display: none;}
.mb_gnb_bg{display: none;}
/*-------------------------svisual_area-------------------------------------------------*/
#svisual_area {
    height: 300px;
    text-align: center;
}
#svisual_area .svisual_wrap{
    height: 100%;
    position: relative;
}
#svisual_area .svisual_wrap .svisual_bg{
    width:100%;
    height: 100%;
    background-image: url(/cobi_ro/img/test2/djto_visual.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#svisual_area .svisual_wrap .svisual_bg2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,50%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    position: relative;
    top: -100%;
}
#svisual_area .svisual_wrap .svisual_content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#svisual_area .svisual_wrap .svisual_content > em {
    color: #fff;
    font-size: 2em;
}
/*----------------------------------------nav_area--------------------------------------------*/
nav {
    border-bottom: 1px solid #ddd;
}
.nav_wrap {padding: 0 4%;}
nav ul.nav_list {
    display: flex;
    justify-content: center;
    position: relative;
}
nav ul.nav_list li.navi{
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #eee;
    border-right: 1px solid #ddd;
    position: relative;
}
nav ul.nav_list li.navi > a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: right;
}
nav ul.nav_list li.navi.nav5 > a{text-align: center; padding: 0;}

nav ul.nav_list li.nav1{
    background: #00519B;
    border-left: 1px solid #9a9a9a;
    position: relative;
}
ul.nav_list > li.nav1 ul.nav_depth {background: #1e63a5;}
nav ul.nav_list li.navi.nav1 > a{color: #fff;}
nav ul.nav_list li.navi > a {
    color: #888888;
    text-align: center;
}

nav ul.nav_list li.navi > a span {
    font-size: 1.1em;
    width: 100%;
    display: block;
}
nav ul.nav_list li.navi > a::after{
    content:"";
    display:inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(/cobi_ro/img/icon/under_arrow_gray.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul.nav_list li.navi.on > a::after{
    background-image: url(/cobi_ro/img/icon/top_arrow_gray.png);
    background-size: 17px;
    top: 17px;
}
nav ul.nav_list li.nav5 > a::after{display: none;}
li.navi ul.nav_depth {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    border: 1px solid #bdbdbd;
    display: none;
    position: absolute;
    z-index: 100;
    top: 50px;
}
/* li.navi.on{background: #00519B;}
li.navi.on > a{color: #fff;} */
/* li.navi ul.nav_depth.on {display: block;} */
.nav_depth li {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
ul.nav_list li.navi ul.nav_depth li > a {
    height: 100%;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #696969;
}
ul.nav_list li.navi ul.nav_depth li:hover > a {
    color: #464646;
    font-weight: 400;
}
ul.nav_list li.nav1 ul.nav_depth li > a {color: #fff;}
ul.nav_list li.nav1 ul.nav_depth li:hover > a{color: #fff;}



/*----------------------------------------------------------------*/
.container_wrap {
    padding: 0 10%;
    margin-bottom: 5%;
}


/*------------------------------------------------------------------*/
.title_area {
    padding: 7%;
    position: relative;
    margin-bottom: 4%;
}
.title_area > h3 {
    font-size: 1.9rem;
    line-height: 50px;
    border-bottom: 2px solid #3a3a3a;
    color: #3a3a3a;
    padding-bottom: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.subnav_area {
    position: absolute;
    top: 20px;
    right: 0;
}
.subnav_area ul.subnav_list {
    display: flex;
    color: #8f8f8f;
}
ul.subnav_list > li img.home {
    width: 20px;
    height: 20px;
}
ul.subnav_list li > a {
    font-size: 0.85rem;
    display: inline-block;
    vertical-align: top;
}
ul.subnav_list > li.icon:after{
    content:">";
    display:inline-block;
    font-size:1rem;
    margin: 0 10px;
}
/*-------------------------------------------------------------------------------------*/
section h4 {
    text-align: center;
    color: #00519b;
    font-size: 1.5rem;
    margin-bottom: 3%;
}


.establish_info {
    background-color: #00519b;
    border-radius: 100px;
    margin: 3% 4% 5% 4%;
    box-shadow: 5px 5px 10px #eee;
}
.establish_info_content {
    color: #fff;
    text-align: center;
    padding: 45px 0;
}
.establish_info_content > p {
    font-size: 1.15rem;
    line-height: 35px;
}
.purposecard_area {
    margin: 10% 0;
    /* height: 1000px; */
}
.purposecard_area2 {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
.purposecard_area .purpose1{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.purpose1 .citybrand_img{
    width: 35%;
    height: 300px;
    background-image: url(/cobi_ro/img/test2/purpose_1.jpg);   
}
.purpose1 .purpose,
.purpose2 .purpose,
.purpose3 .purpose{
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.purpose1 .citybrand_info {
    width: 50%;
    margin: auto 0;
}
.purpose_info strong {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.purpose_info > p {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 25px;
}
.purposecard_area2 .purpose2 {
    display: flex;
    align-items: center;
    gap: 25px;
    /* width: 55%;
    position: relative;
    left: 45%; */
}
.purpose2 .local_eco_img{
    width: 50%;
    height: 300px;
    background-image: url(/cobi_ro/img/test2/purpose_2.jpg);
}

.purpose2 .local_eco_info {
    width: 50%;
    margin: auto 0;
}
.purpose2 .purpose_info strong {text-align: left;}
.purposecard_area2 .purpose3 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.purpose3 .local_culture_img{
    width: 100%;
    height: 300px;
    margin: 0 auto 5%;
    background-image: url(/cobi_ro/img/test2/purpose_3.jpg);
}
.purpose3 .local_culture_info {
    width: 90%;
    margin: 0 auto;
}



/*----------------------------------------------------------------------*/
.major_info {
    border: 2px dashed #000;
    border-radius: 50px;
}
.major_info_content {padding: 5%;}
ul.bussiness_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
li.bussiness {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
    align-items: center;
}
li.bussiness > img {
    width: 130px;
    height: auto;
}
.bussiness > span {
    margin-top: 5%;
    font-size: 1rem;
}





/*----------------------------------footer------------------------------------------*/
footer {
    font-size: 0.9rem;
    background: #fff;
    border-top: 1px solid #888;
}
footer .footer_inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 5%;
    margin: 15px 0;
}

footer .footer_inner .footer_area {
    display: flex;
    gap: 35px;
}
footer .footer_inner .footer_area .footer_logo_area > img.footer_logo {
    width: 160px;
}
.footer_inner .footer_area .footer_theme {
    padding: 10px 0 0 0;
}
.footer_inner .footer_area .footer_theme ul.footer_nav {
    display: flex;
    gap: 25px;
}
.footer_inner .footer_area .footer_theme ul.footer_nav li > a em {font-weight: 600;}
.footer_area .footer_theme > address {
    color: #7d7d7d;
    margin-top: 2%;
    font-weight: 300;
}

.footer_area .footer_theme > address .copyright {margin: 2% 0 0 0;}
.footer_logo_area {padding: 5% 0;}