@charset "UTF-8";

body{max-width: 1920px;}




/*----------------------------------header----------------------------------------*/
header {
    background: none;
    position: absolute;
    width: 100%;
    z-index: 90;
}
.header_wrap {
    display: flex;
    flex-direction: column;
}
.header_wrap .head_top {border-bottom: 1px solid #eee;}
header .head_wrap {
    padding: 0 7%;
    height: 100%;
}
header .head_wrap .head_top_inner {
    display: flex;
    justify-content: right;
    padding: 5px 0;
}
button.english > span {
    color: #fff;
    line-height: 30px;
    line-height: 30px;
    display: inline-block;
}
button.english:after {
    content: "";
    display: inline-block;
    margin: 6px 10px;
    background: #e6e6e6;
    vertical-align: top;
    width: 1px;
    height: 65%;
}
.head_top_inner ul.sns_list{
    display: flex;
    gap: 5px;
}
li.sns_btn {
    width: 30px;
    height: 30px;
    margin: auto 0;
}
ul.sns_list .sns_btn .sns{
    width: 100%;
    height: 100%;
    display:block;
    background-image: url(/cobi_ro/img/sns/sns07.png);
    background-position: 214px 473px;
    background-size: 220px;
}
ul.sns_list .blog .sns{background-position: 110px 473px;}
ul.sns_list .insta .sns{background-position: 73px 473px;}
/*---------------header_under--------------------*/
header .head_under {border-bottom: 1px solid #eee;}
.head_under .head_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
}
.head_under .head_wrap .header_logo_area {
    height: 100%;
    padding: 7px 0;
}
.head_under .header_logo_area > a{display: block;}
.gnb_wrap{display: flex;}
.gnb_wrap ul.gnb{
    display: flex;
    margin-right: 50px;
}
li.depth1 {width: 10rem;}
li.depth1 > a {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 60px;
}
ul.gnb > li.all {
    background-color: #fff;
    width: 100%;
    height: 0;
    position: absolute;
    display: flex;
    top: 105px;
    left: 0;
    justify-content: right;
    align-items: flex-start;
    overflow-y: hidden;
    padding-right: 12%;
}
.depth1_inner {
    background: #2a3eb9;
    /* transition: none;
    transform: none; */
    height: 100%;
    padding: 2% 3%;
    border-bottom-right-radius: 55px;
    /* position: relative;
    left: 0; */
}
span.depth1_text {
    color: #fff;
    text-align: right;
    padding: 20px 0;
    font-size: 0.95rem;
    font-weight: 300;
}
span.depth1_text > p {
    line-height: 25px;
}
.depth1_text p:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 400;
}
.daejeon_icon {
    width: 100%;
    height: 96%;
    padding-top: 20px;
}
.daejeon_icon > img {
    width: 100%;
    height: 90%;
}

ul.gnb > li.all > ul.depth2 {
    width: 10rem;
    padding: 20px 0 0 0;
}
ul.gnb > li.all > ul.depth2 li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
ul.gnb > li.depth1 > ul.depth2 > li:hover > a{
    color: #00519b;
    font-weight: 600;
}
ul.gnb li:hover ~ li.all,
ul.gnb li.all:hover,
ul.gnb li.all.on{
    height: 340px;
    transition: height 0.5s;
}
.view_btn_area {padding: 16px 0;}
.view_btn_area button.view_btn {
    background-image: url(/cobi_ro/img/dokdo/bars-solid.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}
.header_wrap .mb_nav{display: none;}
.mb_gnb_bg{display: none;}
/*-----------------visual_slide-------------------------------------------*/
.main_visual_section {
    height: 100vh;
    position: relative;
    background: #000;
    z-index: 30;
    top: 0;
}
.main_visual_content {
    position: relative;
    top: 50%;
    z-index: 40;
}
.visual_inner {padding-left: 10%;}
.visual_text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}
.visual_text > span:first-child {
    padding: 0 0 10px 0;
    font-weight: 400;
}
.visual_slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.slide_inner {display: flex;}

.main {width: 100%;}
.main > img {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: block;
}

/*--------------------------------------------------------------------------------------------*/
section{margin-bottom: 5%;}
.info_inner{padding: 0 10%;}
.title_inner {
    padding: 5% 0;
}
.title_inner > p {
    font-size: 1.4em;
    color: #444;
    margin-bottom: 10px;
    font-weight: 400;
}
.title_inner > h3 {
    font-size: 2em;
    color: #2f2f2f;
}
.info_wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 7%;
}
.info_card {
    width: 45%;
    height: 25%;
    min-width: 300px;
    margin-bottom: 5%;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #e1e1e1;
}
.info_card a.info {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10%;
}
.info_card.info4 > a {padding: 13.5% 10%;}
.infocard_title {position: relative;}
.infocard_title > p {
    color: #00519b;
    font-size: 1rem;
    font-weight: 600;
}
.infocard_title > p:after{
    content:"+";
    display: inline-block;
    font-size: 30px;
    line-height: 20px;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
}
.infocard_content > h4 {
    color: #2f2f2f;
    font-size: 1.3rem;
    margin: 7% 2% 10% 0;
    font-weight: 400;
}
.infocard_content > p {
    color: #3f3f3f;
    margin-top: 3%;
}
.infocard_content .detail:after{
    content:"→";
    display:inline-block;
    font-size: 16px;
    margin-left: 5px;
    vertical-align: top;
}
.info_card:hover {
    background: #00519b;
    border: none;
    transition: all 0.7s;
    box-shadow: 7px 5px 10px rgba(0,0,0,0.2);
}
.info_card:hover .infocard_title > p,
.info_card:hover .infocard_title > p:after,
.info_card:hover .infocard_content > p,
.info_card:hover .infocard_content > h4 {color: #f2f2f2;}




/*---------tour_area-----------------------------------------------------------*/
#tour_area {
    height: 870px;
    background: #eee;
    margin-bottom: 0;
}



.wrapper {
    display: flex;
}
.tour {
    height: 450px;
    width: 1000px;
    border-radius: 25px;
    position: relative;
    z-index: 30;
}
.tour_text {
    position: relative;
    z-index: 30;
    color: #fff;
}
.tour_text > strong {
    font-size: 40px;
}
.tour_text > a {
    display: block;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 100px;
}
.tour > img {
    height: 450px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
}
/*-----------------------operate_areas---------------------------------------*/
#operate_area {
    /* height: 660px; */
    margin-bottom: 0;
    background-image: url(/cobi_ro/img/test2/expo_bridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#operate_area .operate_bg{
    background-color: rgba(0,0,0,0.5);
    padding: 0 0 5% 0;
}
.operate_inner{padding: 0 10%;}
.operate_inner .title_inner {padding: 4% 0;}
#operate_area .title_inner > p,
#operate_area .title_inner > h3 {
    color: #fff;
}


.swiper-wrapper {
    display: flex;
    /* gap: 40px; */
}
.operate_wrap .swiper-pagination {
    position: relative;
    top: 0;
}
.operate {
    width: 300px;
    height: 320px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(265,265,265,0.75);
    border-radius: 25px;
    backdrop-filter: blur(2px);
}
.operate > a {
    display: block;
    width: 100%;
    height: 100%;
}
.operate .con_title {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #3A3A3A;
    padding: 20px;
    gap: 10px;
}
.con_text {
    border-top: 1px solid #666;
    padding: 20px 0 0 0;
    margin: 0 auto;
    width: 80%;
    height: 35%;
    font-size: 0.95rem;
    color: #4A4A4A;
    font-weight: 400;
    text-align: left;
}
.con_text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.operate a > button {
    width: 50%;
    border: 1px solid #666666;
    border-radius: 10px;
    padding: 7px 10px;
    align-items: center;
    display: flex;
    transition: all 0.5s;
    margin: 0 auto;
}

.operate a > button > span {
    font-size: 0.8rem;
    width: 100%;
    font-weight: 600;
    color: #666;
}
.operate:hover a > button {
    background: #00519b;
    border: none;
}
.operate:hover a > button > span{color: #fff;}
/*---------------------bidinfo--------------------------------------------------*/

.bidinfo_inner {
    padding: 0 10%;
}
.bidinfo_wrap {
    gap: 40px;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;

}
.bidicon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bidicon > .icon {
    width: 90px;
    height: 90px;
    background: #00519b;
    backface-visibility: visible;
    border-radius: 100px;
    transition: 0.8s;
}
.bidicon > .icon:hover {transform: rotateY(180deg);}
.bidicon .icon > img {
    width: 50%;
    height: 50%;
    margin: 23px;
}
.bidinfo1, .bidinfo2, .bidinfo3, .bidinfo4 {
    width: 400px;
    height: 100px;
    margin-right: 6%;
}

.bidinfo1 > a, .bidinfo2 > a, 
.bidinfo3 > a, .bidinfo4 > a {
    display: flex;
    gap: 30px;
}



.bidinfo > p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
    color: #666;
}
.bidinfo > p > em {
    font-size: 20px;
    font-weight: 600;
    color: #3a3a3a;
    line-height: 20px;
}
.bidinfo > p > em:after {
    content: "";
    display: inline-block;
    width: 270px;
    height: 30px;
    background-image: url(/cobi_ro/img/icon/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -20px;

}
/*----------------------------------------survey_area-------------------------------------------*/
#survey_area {
    /* height: 330px; */
    background: #00519b;
    margin-bottom: 0;
}
.mb_survey {display: none;}
.survey_wrap {
    padding: 2% 0;
    margin: 0 10%;
}
ul.survey_list {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
.survey > a {
    display: block;
    height: 200px;
}
.survey > a > img {height: 100%;}
.survey > span {display: none;}



/*----------------------------------footer------------------------------------------*/
footer {
    font-size: 0.9rem;
    background: #fff;
    border-top: 1px solid #888;
}
footer .footer_inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 5%;
    margin: 15px 0;
}

footer .footer_inner .footer_area {
    display: flex;
    gap: 35px;
}
footer .footer_inner .footer_area .footer_logo_area > img.footer_logo {
    width: 160px;
}
.footer_inner .footer_area .footer_theme {
    padding: 10px 0 0 0;
}
.footer_inner .footer_area .footer_theme ul.footer_nav {
    display: flex;
    gap: 25px;
}
.footer_inner .footer_area .footer_theme ul.footer_nav li > a em {font-weight: 600;}
.footer_area .footer_theme > address {
    color: #7d7d7d;
    margin-top: 2%;
    font-weight: 300;
}

.footer_area .footer_theme > address .copyright {margin: 2% 0 0 0;}
.footer_logo_area {padding: 5% 0;}