@charset "utf-8";
header {
	padding: 10px;
	margin-top: 5px;
}
#id_img {
	padding: 10px;
}
footer {
	background-color: #CCC;
	padding: 20px;
	width: 920px;
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	font-family: "맑은 고딕";
}
