@charset "UTF-8";

body{ background: url(/images/bg_grid.gif); }
p.contentBox{
    width: 600px;
    height: 200px;
    background-color: rgba(0,0,0, 0.5);
    border: 20px solid rgba(255,0,0, 0.5);
    padding: 50px;
}
div.borderBox{
    box-sizing: border-box;
    width: 600px;
    min-height: 200px;
    background-color: rgba(0,0,0, 0.5);
    padding: 50px;
    border: 20px solid rgba(255,0,0, 0.5);
    padding: 50px 50px;
    padding: 50px 50px 50px;
    padding: 50px 50px 50px 50px;
    padding-bottom: 150px;
    /* 겹치는 속성은 바뀌며, 안겹치는 속성은 add개념을 간다 */
    /* padding-bottom: 150px; */
}
div.borderBox{
    padding: 50px 250px 50px 50px;
    color: red;
}
/* *{ box-sizing: border-box; } */

div.bdimg{
    width: 600px;
    height: 250px;
    padding: 15px;
    margin: 0 0 20px 0;
    border: 30px solid transparent;
    border-image: url(/images/border.png) 27 round;
    /* border-image: url(/images/border.png) 27 repeat; */
    /* border-image: url(/images/border.png) 27 stretch; */

    /* border에 사용 할 이미지도 패턴화 하여 반복하는데, 3*3으로 제작된 이미지의 중앙부분이 반복되는 (1/3)수치를 사용한다. */
}