@charset "utf-8";

/* 빨래방 반응형 css */
.inner {
    width: 100%;
    padding: 40px 40px 0;
}
section {
    margin: 20px 0 0 0;
    flex-direction: column;
}
section img {
    width: 100%;
}
section:nth-of-type(2){
    flex-direction: column-reverse;
}
.txtBox,
section:nth-of-type(2) .txtBox {
    margin: 20px 50px 0;
}