@charset "UTF-8";
/* 08현대l_c 레이아웃 float css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    min-width: 1280px;
    /* x스크롤바 생성기점 */
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.sec {
    width: 100%;
    height: 830px;
}
.sec .left {
    width: 50%;
    height: 100%;
    float: left;
}
.sec .right {
    width: 50%;
    height: 100%;
    float: right;
}

.sec.one {
    background: url(/images/crecendo/furniture_1.jpg) 50% 60% no-repeat;
    background-size: cover;
    padding: 250px 0 0 0;
}
.sec.one .title,
.sec.one .copy,
.sec.one .text {
    width: 100%;
    text-align: center;
}
.sec.one .title {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 20px;
    text-shadow: 5px 5px 10px #000;
}
.sec.one .copy {
    font-size: 40px;
    font-weight: 700;
    color: #009882;
}
.sec.one .text {
    font-size: 20px;
    color: #fff;
}
.sec.one .button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    margin: 100px auto 0;
    background: #009882;
    color: #fff;
    text-align: center;
}

.sec.two .left {
    position: relative;
}
.sec.two .left .product {
    position: absolute;
    width: 680px;
    height: 500px;
    top: 150px;
    right: -80px;
    font-size: 50px;
    font-weight: 800;
    background: url(/images/crecendo/furniture_2.png) 0 80px no-repeat;
}
.sec.two .right {
    background: #009882;
    color: #fff;
    overflow: hidden;
}
.sec.two .right .box {
    width: 600px;
    padding: 265px 0 0 152px;
}
.sec.two .right .txt1 {
    font-size: 50px;
    font-weight: 800;
    width: 448px;
}
.sec.two .right .txt2 {
    font-size: 30px;
    font-weight: 600;
    width: 448px;
    margin: 20px 0;
}
.sec.two .right .txt3 {
    font-size: 20px;
    width: 448px;
}
.sec.two .right .txt4 {
    font-size: 20px;
    display: block;
    width: 448px;
    margin: 40px 0 0 0;
}

.sec.three .left {
    background: #f4f4f4;
    padding: 100px 0 0 0;
}
.sec.three .right {
    padding: 40px 0 0 0;
}
.sec.three .right .txt1 {
    width: 600px;
    font-size: 50px;
    font-weight: 800;
    padding: 0 0 0 50px;
}
.sec.three .left .box,
.sec.three .right .box {
    width: 600px;
    height: 470px;
    padding: 40px;
    display: block;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}
.sec.three .left .box {
    float: right;
    background: url(/images/crecendo/furniture_3.jpg) 0 -50px no-repeat;
    background-size: cover;
    color: #fff;
}
.sec.three .right .box {
    float: left;
    margin: 80px 0 0 0;
    background: url(/images/crecendo/furniture_4.jpg) 0 -100px no-repeat;
    background-size: cover;
    color: #000;
}
.sec.three .left .box .bt,
.sec.three .right .box .bt {
    font-size: 16px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
}
.sec.three .left .box .bt {
    border: 1px solid #fff;
}
.sec.three .left .box .bt span:first-child {
    color: #009882;
}
.sec.three .left .box .bt span:last-child {
    color: #fff;
}
.sec.three .right .box .bt {
    background: #009882;
    color: #fff;
}

.sec.four {
    background-image: url(/images/crecendo/pattern_01.png), url(/images/crecendo/furniture_5.jpg);
    background-position: 0 0, 50% 20%;
    background-size: 3px 3px, cover;
    background-repeat: repeat, no-repeat;
    padding: 130px 0 0 0;
    height: auto;
    text-align: center;
}
.sec.four .title {
    font-size: 50px;
    font-weight: 800;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.sec.four .text {
    font-size: 20px;
    color: #fff;
    margin: 50px 0 0 0;
    display: block;
}
.sec.four .button {
    width: 200px;
    height: 120px;
    line-height: 120px;
    display: block;
    margin: 100px auto 0;
    background: #009882;
    color: #fff;
    text-align: center;
}