@charset "utf-8";
/* 08현대l_c 레이아웃 flex 모바일 css */

body { min-width: 320px; } 
.two .left { height: 350px; } 
.two .left h2 { width: 100%; padding: 50px 0 0 0; background: url(/images/crecendo/furniture_2.png) no-repeat 0 130px / cover; font-size: 1.875rem; font-size: 1.875rem; } 

.two .right { height: auto; padding: 50px 20px 50px; } 
.two .right > * { width: 100%; } 
.two .right h2 { margin: 0 auto; font-size: 1.875rem; } 
.two .right h3 { margin: 50px auto 0; font-size: 1.5rem; } 
.two .right p { margin: 50px auto 0; } 

.three .left .box,
.three .right .box { font-size: 1.5rem; text-align: center; } 
.three .left .box button,
.three .right .box button { right: 50%; transform: translateX(50%); bottom: 20px; } 

.four { padding: 70px 20px 0; } 
.four h2 { font-size: 1.875rem; } 
.four p { display: none; } 
.four button { height: 80px; line-height: 80px; margin: 90px 0 0 0; } 