@charset "utf-8";
/* 08현대l_c 레이아웃 flex 태블릿 css */

body { min-width: 640px; } 
.inner { width: 100%; } 
section { height: auto; } 
.one { padding: 372px 0 0 0; } 
.one h1 { font-size: 3.125rem; letter-spacing: 0; } 
.one h2 { font-size: 1.875rem; margin: 20px 0; } 
.one p { display: none; } 
.one button { width: 200px; height: 45px; line-height: 45px; margin: 0; } 

section.two,
section.three { flex-direction: column; } 
.two .left,
.two .right { width: 100%; height: 560px; } 
.two .left h2 { position: static; width: 600px; height: 100%; top: auto; right: auto; margin: 0 auto; text-align: center; padding: 150px 0 0 0; background: url(/images/crecendo/furniture_2.png) 0 240px no-repeat; } 
.two .right { padding: 0; } 
.two .right > * { width: 600px; text-align: center; } 
.two .right h2 { margin: 50px auto 0; } 
.two .right h3 { margin: 30px auto; } 
.two .right p { margin: 0 auto 30px; } 

.three .left,
.three .right { width: 100%; height: 253px; padding: 0; margin: 20px 0 0 0; } 
.three .left .box { width: 100%; height: 100%; background: url(/images/crecendo/furniture_3.jpg) no-repeat 50% 50% / cover; } 
.three .right .box { width: 100%; height: 100%; background: url(/images/crecendo/furniture_4.jpg) no-repeat 50% 50% / cover; margin: 0; } 
.three .right h2 { display: none; } 

.four { margin: 20px 0 0 0; padding: 170px 40px 0; } 
.four p > br { display: none; } 
.four button { margin: 164px 0 0 0; } 
