@charset "UTF-8";
/* 데일리금융 레이아웃 flex 태블릿 전용 css */

body { min-width: 640px; } 
.wrap { width: 100%; }

.wrap .contents { gap: 20px 0; }
.contents .box { flex: 1 1 30%; margin: 0; }
.contents .box .copy { min-height: 2.6rem; }

.contents .box.b06 { order: 2; }
.contents .box.b07 { order: 1; }
.contents .box.b08 { order: 3; }
.contents .box.b09 { order: 4; }
.contents .box.b10 { order: 5; }

.contents .box.b01 { flex: 1 1 100%; height: 70px; } 
.contents .box.b03,
.contents .box.b09 { margin: 0 20px;}
.contents .box.b05,
.contents .box.photo,
.contents .box.b10 { margin: 0;}
.contents .box.b05,
.contents .box.photo,
.contents .box.b06,
.contents .box.b07 { flex: 1 1 40%; }

