@charset "UTF-8";
/* 카카오 인재영입 10_1 모바일 CSS */
body {
    min-width: 320px;
}
.inner {
    width: 90%;
}
header {
    height: 450px;
    padding: 150px 0 0;
}
header::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/kakao/ryan.png") 150% bottom no-repeat, rgba(0, 0, 0, 0.45);
    background-size: 60%;
    content: "";
}
header .top {
    min-width: 320px;
}
header .top span.mMenuBt {
    display: block;
}
header .top ul.gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 20px;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #1a1a1a;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
header .top ul.gnb.on {
    transform: translateX(0%);
    transition: transform 0.5s;
}
ul.gnb li {
    width: 100%;
    margin: 0;
    height: auto;
    min-height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
ul.gnb li a,
ul.gnb li a:visited {
    font-size: 1.5rem;
    height: 80px;
    line-height: 80px;
}
ul.gnb > li:first-child > a::after,
ul.gnb li a:hover::after,
ul.gnb li li a:hover::after {
    display: none;
}
ul.gnb li.bt {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: block;
}
/* ul.gnb > li:hover 속성을 해제 */
ul.gnb > li:hover > ul {
    background: rgba(255, 255, 255, 0.05);
    transform: unset;
    transition: unset;
    color: unset;
}
ul.gnb > li > ul {
    list-style: none;
    width: 60%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
    position: relative;
    top: 0;
    left: 0;
    transform: unset;
    transition: unset;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
}

ul.gnb > li > ul > li {
    min-height: 30px;
}
ul.gnb > li > ul > li > a {
    font-size: 1.2rem;
    height: 30px;
    line-height: 30px;
}
/* .top:hover 속성을 해제하고, 스크롤 위치에 따라 .top에 .on을 추가하는 방식으로 진행 */
header .top:hover {
    background: unset;
    color: unset;
}
header .top.on {
    background: #fff;
    color: #666;
    border-bottom: 1px solid #e6e6e6;
}





header p {
    width: 100%;
    margin: 0;
    padding: 50px;
    font-size: 2rem;
}

/* 카카오스러움 */
.sec01 {
    height: auto;
}
.sec01::after {
    top: 50px;
    bottom: unset;
    right: -100px;
}
.sec01::before {
    display: none;
}
.sec01 ul {
    flex-wrap: nowrap;
    overflow-x: auto;
}
.sec01 ul li {
    flex: 0 0 80%;
}

/* 복지제도 */
.sec02 {
    height: auto;
}
.sec02 .swipe1 {
    height: 670px;
    overflow: hidden;
}
.sec02 .swipe1 .swiper-wrapper {
    display: unset;
}
.sec02 .swipe1 .swiper-button {
    display: block;
}
.sec02 .welfare {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    height: 100%;
}
.sec02 .welfare:nth-of-type(3) {
    border-bottom: 1px solid #e6e6e6;
}
.sec02 .swipe1 .swiper-button-prev {
    transform: rotate(90deg);
    left: 50%;
    top: 75px;
}
.sec02 .swipe1 .swiper-button-next {
    transform: rotate(90deg);
    top: auto;
    right: auto;
    left: 50%;
    bottom: 0;
}
.sec02 .welfare h2 {
    width: 100%;
    position: relative;
    padding: 0 0 0 25px;
    margin: 0 0 20px 0;
}
.sec02 .welfare p::before {
    width: 5px;
    height: 100%;
    background: #d9d9d9;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
}
.sec02 .welfare dl {
    width: 100%;
    padding: 0 0 0 25px;
}

.sec02::after {
    min-height: 215px;
    background-size: cover;
}
/* .sec03 {
    min-height: 215px;
} */
.sec04 {
    height: auto;
}
.sec04 .roadmap {
    width: 100%;
}
.sec04 .roadmap:nth-of-type(1) {
    margin-right: 0;
}
.sec04 .roadmap dl dd {
    display: flex;
    flex-flow: row nowrap;
}
.sec04 .roadmap dl dd strong {
    min-width: 30px;
    margin: 0 20px 0 0;
}