@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */

/* 대우건설 레이아웃 css */


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
ul, li{ list-style: none; }
body{ min-width: 1500px; }
body .top{
    position: fixed;
    bottom: 30px;
    right: 10%;
    width: 50px;
    height: 50px;
    background: url("../images/daewoo/top_btn.png") 50% 50% no-repeat;
    z-index: 5;
}
/* iframe에 원하는 pdf출력 */
/* body .top .cover{
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
} */

/* header기본디자인 */
header{
    height: 300px;
    background: url("../images/daewoo/visual_img.jpg") 50% 50% no-repeat;
    position: relative;
    z-index: 200;
}
header .inner{
    min-width: 1200px;
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .logo{
    width: 200px;
    height: 33px;
    background: url("../images/daewoo/daewoo_logo.png") 0 0 no-repeat;
}
header .inner .mMenuBt{ display: none; }
header .inner .gnb{ 
    width: 720px;
    height: 100%;
}
header .inner .gnb .mCloseBt{ display: none; } 
header .inner .gnb > div{
    height: 100%;
    display: flex;
    justify-content: center;

}
header .inner .gnb > div > span{
    width: 180px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
header .inner .gnb > div > span:first-child{ color: #6b9ecc; }

/* subgnball */
header .inner .gnb .subgnball{
    height: 0;
    overflow-y: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 200;
    min-width: 1500px;
    width: 100%;
    background: #f1f1f3;
}
header .inner .gnb .subgnball > ul{
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 720px;
}
header .inner .gnb .subgnball > ul > li{
    width: 180px;
    border-left: 1px solid rgba(0,0,0,0.05);
}
header .inner .gnb .subgnball > ul > li:last-child{
    border-right: 1px solid rgba(0,0,0,0.05);
}

header .inner .gnb .subgnball > ul > li > ul{
    width: 100%;    
}
header .inner .gnb .subgnball > ul > li > ul > li{
    min-height: 40px;
    line-height: 40px;
    padding: 0 0 0 20px;
    font-weight: 400;
    color: #333;
    position: relative;
}
header .inner .gnb .subgnball > ul > li > ul > li::before{
    position: absolute;
    width: 2px;
    height: 2px;
    background: #333;
    top: 19px;
    left: 9px;
    content: "";
}
header .inner .gnb .subgnball > ul > li > ul > li > a{
    text-decoration: none;
    color: #333;
}
header .inner .gnb .subgnball > ul > li > ul > li > ul{
    margin: 0 0 0 5px;
}
header .inner .gnb .subgnball > ul > li > ul > li > ul > li{
    color: #777;
    min-height: 30px;
    line-height: 30px;
}
/* inner:hover일때 상단디자인 변경 및 .subgnball */
header .inner::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 0;
    content: "";
}
header .inner:hover::after{
    background: #fff;
    transition: all 0.3s;
}
header .inner:hover .logo{
    background: url("../images/daewoo/daewoo_logo.png") 0 -33px no-repeat;
    position: relative;
    z-index: 10;
}
header .inner:hover .gnb > div > span{
    color: #6b9ecc;
    position: relative;
    z-index: 10;
}
header .inner:hover .gnb > div > span:after,
header .inner:hover .gnb > div > span:first-child:before{
    width: 1px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: 0;
    content: "";
    background: rgba(0,0,0,0.05);
}
header .inner:hover .gnb > div > span:first-child:before{
    right: unset;
    left: 0;
}
header .inner:hover .gnb .subgnball{
    height: 380px;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
    transition: height 0.5s;
}




/* global */
header .inner .global{
    display: inline-flex;
    align-items: center;
    width: 200px;
}
header .inner .global span{
    color: #fff;
    margin: 0 0 0 11px;
    position: relative;
}
header .inner .global span::after{
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 6px;
    right: -6px;
    content: "";
}
header .inner .global span:last-child{
    border: 1px solid #fff;
    padding: 2px 5px;
}
header .inner .global span:last-child:after{ display: none; }

/* inner:hover일 때 global */
header .inner:hover .global span{
    color: #555;
    position: relative;
    z-index: 10;
}
header .inner:hover .global span::after{
    background: rgba(0,0,0,0.3); 
}
header .inner:hover .global span:last-child{ border: 1px solid rgba(0,0,0,0.3); }
header .inner .global span:nth-child(3)::after,
header .inner .global span :last-child::after{ display: none; }


header h1{
    font-size: 2.7rem;
    font-weight: 500;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;
} 
header h1::after{
    width: 1px;
    height: 40px;
    display: block;
    margin: 10px auto 0;
    content: "";
    background: #fff;
}
header .location{
    max-width: 1500px;
    height: 20px;
    margin: 20px auto 0;
    text-align: right;
    color: #fff;
    font-size: 0.9rem;
}
header .location span{
    margin: 0 21px 0 0;
    position: relative;
}header .location span:last-child{
    margin: 0;
}

header .location span::before{
    position: absolute;
    content: "\f054";
    right: -16px;
    bottom: 1px;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
}
header .location span:last-child::before{
    display: none;
}

nav, section{
    width: 100%;
    min-width: 1140px;
}
header, section{ position: relative; }
nav{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
}
nav div{
    width: 284px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
nav div:first-child::before{
    width: 1px;
    height: 30px;
    display: block;
    content: "";
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 0%;
    margin: -15px 0 0 0;
}
nav div::after{
    width: 1px;
    height: 30px;
    display: block;
    content: "";
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 0;
}
nav div span{
    display: block;
    position: relative;
    z-index: 10;
    font-size: 1.2rem;
    font-weight: 400;
}
nav div ul{
    position: relative;
    z-index: 5;
    border: 1px solid #ddd;
    background: #fff;
    display: block;
}
nav div ul li{
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: #666;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
nav div ul li:hover{ color: #6b9ecc; }
nav div ul li:last-child{ border: none; }
nav div.on,
nav div:hover{
    border-bottom: 2px solid #6b9ecc;
    color: #6b9ecc;
}
/* nav div.open ul{ display: block; } */

section h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 100px 0 0px;
    font-weight: 400;
}
section h3{
    font-size: 2.14rem;
    text-align: center;
    margin: 60px 0 0px;
    font-weight: 400;
}
section > div{
    width: 1140px;
    margin: 0 auto;
}
.art1{
    height: 840px;
    background: url("../images/daewoo/contri_sec1_bg2.png") 50% bottom no-repeat;
}
.art1 img.mart1{ display: none; }
.art1 .depth1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 173px;
    margin: 50px 0 0 0;
}
.art1 .depth1 div{
    color: #fff;
    font-size: 1.28rem;
    font-weight: 700;
    text-align: center;
    padding: 70px 0 0 0;
    width: 158px;
    height: 165px;
}
.art1 .depth1 div:first-child{
    background: url("../images/daewoo/contri_sec1_bg1.png") 0 0 no-repeat;
}
.art1 .depth1 div:last-child{
    background: url("../images/daewoo/contri_sec1_bg1.png") -400px 0px no-repeat;
}
.art1 .depth1 div:nth-child(2){
    width: 177px;
    height: 173px;
    display: block;
    background: url("../images/daewoo/contri_sec1_bg1.png") -199px 0px no-repeat;
    position: relative;
    margin: 0 144px;
}
.art1 .depth1 div:nth-child(2)::before{
    width: 56px;
    height: 22px;
    content: "";
    background: url("../images/daewoo/contri_sec1_bg1.png") 0px -200px no-repeat;
    position: absolute;
    left:-100px;
    top: 75px;
}
.art1 .depth1 div:nth-child(2)::after{
    width: 56px;
    height: 22px;
    content: "";
    background: url("../images/daewoo/contri_sec1_bg1.png") -200px -200px no-repeat;
    position: absolute;
    right:-100px;
    top: 75px;
}


.art1 .depth2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 187px;
    margin: 130px 0 0 0;
    position: relative;
}
.art1 .depth2::before{
    width: 600px;
    height: 1px;
    background: #ccc;
    content: "";
    position: absolute;
    top: -70px;
}
.art1 .depth2 div{
    width: 180px;
    height: 187px;
    margin: 0 60px;
    background: url("../images/daewoo/contri_sec1_bg1.png") -601px 0px no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.art1 .depth2 div::before{
    width: 1px;
    height: 70px;
    background: #ccc;
    content: "";
    position: absolute;
    top: -70px;
    left: 89px;
}
.art1 .depth2 div:nth-child(2)::before{
    height: 130px;
    top: -130px;
}
.art1 .depth2 div span{
    width: 100%;
    color: #000;
    font-size: 1.14rem;
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;
    display: block;
}
.art1 .depth2 div span:first-child{
    font-size: 1.4rem;
    font-weight: 600;
}
.art1 .depth3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 142px;
    margin: 95px 0 0 0;
}
.art1 .depth3 div{
    width: 142px;
    height: 142px;
    margin: 0 20px;
    background: url("../images/daewoo/contri_sec1_bg1.png") -799px 0px no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.art1 .depth3 div span{
    letter-spacing: -2px;
}

.art2 table{
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0 100px;
}
.art2 table tr th,
.art2 table tr td{
    width: 25%;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
}
.art2 table tr:first-child th{
    background: #fafafa;
    border-top: 2px solid #335173;
}
.art2 table tr th:first-child{
    border-left: none;
}
.art2 table tr:first-child th:last-child,
.art2 table tr td:last-child{
    border-right: none;
}
.art3{
    width: 100%;
    height: 2150px;
    background: linear-gradient(#f3f3f3 50%, #ffffff 50%) 0 -425px no-repeat;
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art3 .report,
.art3 .reportHistory{
    width: 1140px;
}
.art3 .report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
}
.art3 .report .leftBox{
    display: flex;
    flex-direction: column;
}
.art3 .report .leftBox .title{
    font-size: 1.85rem;
    font-weight: 600;
}
.art3 .report .leftBox .substance{
    color: #666;
    margin: 25px 0 0 0;
    width: 560px;
    line-height: 160%;
}
.art3 .report .leftBox .btnGroup{
    margin: 25px 0 0 0;
    display: inline-flex;
    flex-direction: row;
}
.btnGroup a,
.reportGroup a{
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #6bb2e2;
    position: relative;
    color: #fff;
    margin: 0 20px 0 0;
    text-decoration: none;
    padding: 0 0 0 10px;
}
.reportGroup a{
    margin: 0 0 0 -4px;
}
.btnGroup a:active,
.btnGroup a:hover,
.btnGroup a:visited,
.reportGroup a:active,
.reportGroup a:hover,
.reportGroup a:visited{
    color: #fff;
}
.btnGroup a::after,
.reportGroup a::after{
    width: 26px;
    height: 32px;
    background: url("../images/daewoo/ico_common.png") -343px -140px no-repeat;
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
}
.art3 .report .reportImg{
    width: 320px;
    height: 415px;
    background: url("../images/daewoo/contri_report2021.jpg") 50% 50% no-repeat;
}
.art3 .reportHistory{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0;
}
.art3 .reportHistory .reportGroup{
    width: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 217px;
}
.art3 .reportHistory .reportGroup:nth-child(3n-2){
    margin: 0 0 50px 0;
}
.reportGroup .reportImg{
    width: 234px;
    height: 296px;
    background: url("../images/daewoo/contri_report2020.jpg") 50% 50% no-repeat;
    background-size: 100% 296px;
}
.reportGroup.report2020 .reportImg{
    background: url("../images/daewoo/contri_report2020.jpg") 50% 50% no-repeat;
}
.reportGroup.report2019 .reportImg{
    background: url("../images/daewoo/contri_report2019.png") 50% 50% no-repeat;
}
.reportGroup.report2018 .reportImg{
    background: url("../images/daewoo/contri_report2018.png") 50% 50% no-repeat;
}
.reportGroup.report2017 .reportImg{
    background: url("../images/daewoo/contri_report2017.png") 50% 50% no-repeat;
}
.reportGroup.report2016 .reportImg{
    background: url("../images/daewoo/contri_report2016.png") 50% 50% no-repeat;
}
.reportGroup.report2015 .reportImg{
    background: url("../images/daewoo/contri_report2015.png") 50% 50% no-repeat;
}
.reportGroup.report2014 .reportImg{
    background: url("../images/daewoo/contri_report2014.png") 50% 50% no-repeat;
}
.reportGroup.report2013 .reportImg{
    background: url("../images/daewoo/contri_report2013.png") 50% 50% no-repeat;
}
.reportGroup.report2012 .reportImg{
    background: url("../images/daewoo/contri_report2012.png") 50% 50% no-repeat;
}
.reportGroup .title{
    font-size: 1.28rem;
    font-weight: 600;
    margin: 20px 0;
    letter-spacing: -0.03rem;
}

footer{
    height: 130px;
    background: #3e3e3e;
    font-weight: 800;
    color: #737373;
    position: relative;
    z-index: 10;
}
footer .inner{
    min-width: 1140px;
    max-width: 1500px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 20px;
}
footer .inner .left{
    padding: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 400;
    background: url("../images/daewoo/daewoo_footer_logo.png") 5px 50% no-repeat;
}
footer .inner .left .menu span{
    padding: 0 20px 0 0;
    position: relative;
}
footer .inner .left .menu span::after{
    width: 1px;
    height: 10px;
    content: "";
    background: #737373;
    position: absolute;
    top: 50%;
    right: 10%;
    margin: -5px 0 0 0;
}
footer .inner .left .menu span:last-child::after{
    display: none;
}
footer .inner .left .addr{
    margin: 30px 0 0 0;
    display: block;
}
footer .inner .right{
    display: inline-flex;
    align-items: center;

}
footer .inner .right .banner01{
    width: 32px;
    height: 32px;
    background: url("../images/daewoo/ico_common.png") 0px -100px no-repeat;
    margin: 0 20px 0 0;
    cursor: pointer;
}
footer .inner .right .banner02{
    width: 130px;
    height: 30px;
    background: url("../images/daewoo/prugio_bi.png") 10px 50% no-repeat;
    border: 1px solid #737373;
    cursor: pointer;
    position: relative;
}
footer .inner .right .banner02::after{
    width: 26px;
    height: 32px;
    background: url(/images/daewoo/ico_common.png) -40px -142px no-repeat;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
}