@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
/* Background효과 모음 우미건설 css */
:root {
    /* --base-grid: 8px;
    --colour-body-background: #d84c6e;
    --colour-background: #fff;
    --colour-background-folded: #f5f5f5; */
    --colour-background-stripes: rgba(233, 41, 41, 0.2);
    /* --colour-text: #1a1a1a; */
    font-family: 'Gothic A1', sans-serif;
    padding: 0px;
    margin: 0px;
}
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}
h1{
    width: 260px;
    display: block;
    text-align: center;
    /* clear: both; */
    margin: 0 auto;
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(to right, #2BC63E, #1553A3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: rgba(0,0,0,0);
}
h4{
    width: 100%;
    text-align: center;
    color: #666;
}
section{
    width: 1200px;
    height: auto;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
}
section .img01{
    width: 25%;
    height: 300px;
    padding: 50px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
    float: left;
    display: block;
}
section .img01.bg01{
    background: rgba(253,158,225,0.5) url(/images/flower.png) 50% 50% no-repeat;
    /* background: url(/images/flower.png) rgba(253,158,225,0.5) 50% 50% no-repeat; */
    /* background-blend-mode: screen; */
    background-blend-mode: multiply;
    /* background-blend-mode는 모든 ie에서 적용되지않음 */
    background-size: cover;
}
section .img01.bg02{
    background: url(/images/mojito.png) rgba(12,219,182,0.3) 50% 70% no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}
section .img01.bg03{
    background: url(/images/notebook.png) 50% 50% no-repeat;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: multiply;
    background-size: cover;
}
section .img01.bg04{
    background: url(/images/museum.png) rgba(255,197,58,0.5) 50% 50% no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}
section .img01.bg05{
    width: 100%;
    height: 300px;
    background: url(/images/bg_sky.png) 0% 83% no-repeat;
    background-size: cover;
    position: relative;
}
section .img01.bg05::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(5, 46, 85, 0.95);
    content: "";
    z-index: 1;
    transition: all 1s;
}
section .img01.bg05:hover::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(50, 0, 85, 0);
    content: "";
    z-index: 1;
    transition: all 1s;
}
section .img01.bg06{
    width: 100%;
    height: 300px;
    background: url(/images/crecendo/pattern_01.png) 0 0 repeat, url(/images/crecendo/furniture_5.jpg) 0 10% no-repeat;
    background-size: 3px 3px, cover;
}
section .img01.bg07{
    width: 50%;
    height: 300px;
    background-image: linear-gradient(to top, #000 30%, transparent 70% ), url(/images/spakle.png);
    background-position: 0 0, 50% 40%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}
section .img01.bg08{
    width: 50%;
    height: 300px;
    background: linear-gradient(to bottom, #fff 15%, transparent 60% ) 0 0 no-repeat, url(/images/flower.png) 50% 40% no-repeat;
    background-size: cover, cover;
}

section .img01.bg09{
    width: 100%;
    height: 300px;
    /* background-image: repeating-linear-gradient(-20deg,transparent,transparent 10px,rgba(233, 41, 41, 0.2) 0, rgba(233, 41, 41, 0.2) 11px), repeating-linear-gradient(20deg,transparent,transparent 10px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 11px); */
    background-image: repeating-linear-gradient(-20deg,transparent,transparent 10px,rgba(233, 41, 41, 0.2) 0, rgba(233, 41, 41, 0.2) 11px), repeating-linear-gradient(20deg,transparent 0,transparent 10px,rgba(233, 41, 41, 0.2) 0px, rgba(233, 41, 41, 0.2) 11px);
}
section .bg10{
    width: 100%;
    height: auto;
    background: #022859;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}
section .bg10 span{
    font-size : 100px;
    font-weight : 600;
    display : inline-block;
    color: #fff;    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    transition: background .3s cubic-bezier(0,0,.23,1);
    cursor: pointer;
}
section .bg10 span.toTop{
    background-image: linear-gradient(180deg, transparent 50%, #fff 0);
    background-size: 100% 200%;
    background-position: 0 0;
}
section .bg10 span.toTop:hover{ 
    background-position: 0 100%;
}
section .bg10 span.toRight{
    background-image: linear-gradient(90deg, transparent 50%, #fff 0);
    background-size: 200% 100%;
    background-position: 0 0;
}
section .bg10 span.toRight:hover{ 
    background-position: -100% 0;
}
section .bg10 span.toBottom{
    background-image: linear-gradient(180deg, transparent 50%, #fff 0);
    background-size: 100% 200%;
    background-position: 0 0;
}
section .bg10 span.toBottom:hover{ 
    background-position: 0 -100%;
}
section .bg10 span.toLeft{
    background-image: linear-gradient(90deg, transparent 50%, #fff 0);
    background-size: 200% 100%;
    background-position: 0 0;
}
section .bg10 span.toLeft:hover{ 
    background-position: 100% 0;
}



/* IE11hack */
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop,
    [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom]{
        opacity: 1;
        }
}
/* ie10hack */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    h1{
        color: #2BC63E;
        background: transparent;
    }
}