@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */

/* 타이핑쳐지는 효과 */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    background: #333;
    color: #fff;
}
h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    margin: 100px 0 0 0;
    display: block;
}
.wrap {
    width: 1200px;
    height: 200px;
    margin: 20px auto 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .wrap .typewriter{}
flex가 선언된 .wrap안에서는 객체가 fit-content 가로값으로 자동변경되는 것을 이용 */

.wrap h2 {
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
}
.wrap h2.line {
    border-right: .15rem solid orange;
    /* animation: 
      typing 3.5s steps(24, jump-end); */
    animation:
        typing 3.5s steps(24, end),
        blink-caret .5s step-end infinite;
    /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */

    /* animation-name: typing, blink-caret; */
    /* animation-duration: 3.5s, .5s; */
    /* animation-timing-function: steps(24, jump-end), step-end; */

    /* animation-timing-function은 각주기의 기간을 통해 진행 방법을 설정하는 속성 */
    /* animation-timing-function: linear;가
    기본값이며 끊김없이 연결되는 형태이다. */

    /* animation-iteration-count: 1, infinite; */
}
.wrap .typewriter:first-child h2.multiline {
    border-right: .15rem solid orange;
    /* animation: 
      typing 2.5s steps(16, jump-end); */
    animation:
        typing 2.5s steps(16, end),
        blink-caret .5s step-end 5;
    animation-fill-mode: forwards;
    /* fill-mode: forwards
    (to)마지막 키 프레임의 스타일 값을 유지 */
}
.wrap .typewriter:last-child h2.multiline {
    border-right: .15rem solid orange;
    /* animation: 
      typing 1.5s steps(10, jump-end); */
    animation:
        typing 1.5s steps(10, end),
        blink-caret .5s step-end infinite;
    animation-fill-mode: both;
    animation-delay: 2.7s;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}
.wrap.bar::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: orange;
    content: "";
    left: 0;
    bottom: 0;
    animation: 4.7s typing;
}

/* js를 이용한 타이핑효과 */
.wrap h2.text-js {
    font-size: 6rem;
}
.wrap.multiTypeJs {
    width: 500px;
    height: auto;
}
.wrap.multiTypeJs h2.text-js {
    white-space: normal;
    word-break: keep-all;
    text-align: center;
}
.wrap.multiTypeJs h2.text-js span{
    border-right: .15rem solid orange;
    animation: blink-caret .5s step-end infinite;
}