@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*탭스타일(세로형), 탭+콘텐츠 증가 가능*/
.openTabVertical{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.openTabVertical .tab{
    width: 130px;
    height: 100%;
    background: #92B8D8;
}
.tabButton{
    width: 100%;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0px 16px;
    text-align: left;
    border: none;
    float: none;
    outline: 0;
    background: none;
    color: #fff;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.tabButton::after{
    width: 100%;
    height: 1px;
    content: "";
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.tabButton.on{
    background: #d8b292;
}
.openTabVertical .contents{
    width: calc(100% - 130px);
    height: 100%;
    padding: 10px 20px;
    background: #c8dbeb;
    border: 5px solid #D8B292;
}
.contents .tabBox{
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
}
.contents .tabBox.on{
    display: block;
}