@charset "UTF-8";
body{ min-width: 320px; }
.gnb{
    width: 100%;
    height: 100vh;
    background: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
}
.gnb > ul{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    transform: translate(-100%, 0);
    transition: all 0.5s;
    position: relative;
    z-index: 10;
    padding: 0 20px;
}
.gnb > ul.on{
    transform: translate(0%, 0);
    transition: all 0.5s;
}
.gnb >  ul > li{
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.gnb >  ul > li > a.on{
    background-color: #444;
}

.material-icons{
    display: block;
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2rem;
}
.material-icons:nth-child(2){
    display: none;
}