@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
}

.basic2{
    width: 100%;
    height: 750px;
    color: #fff;
    font-size: 4rem;
}
.swiper-slide.sec01 {
    background: #333;
}
.swiper-slide.sec02 {
    background: #555;
}
.swiper-slide.sec03 {
    background: #777;
}
.swiper-slide.sec04 {
    background: #999;
}
.swiper-slide.sec05 {
    background: #111;
}