@charset "UTF-8";
* { box-sizing: border-box; }
body{
  padding: 0;
  margin: 0;
  min-width: 1280px;
  color: #fff;
  /* background: #333; */
  font-family: 'Noto Sans KR', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
/* video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/banner/space02.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    object-fit: cover;
} */


h1 {
  color: inherit;
  display: block;
  margin: 3em;
  text-align: center;
}
.vertical-slider.slick-dotted {
  margin-bottom: 0;
}
.vertical-slider {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.vertical-slider > .slick-dots {
  bottom: auto;
  left: .5em;
  padding: 0;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto;
}
.vertical-slider > .slick-dots li {
  display: block;
  margin: 0 .125em;
}
.vertical-slider > .slick-dots li button {
  padding: .125em;
}

.slide {
  color: #fff;
  display: inline-block;
}

/* .vertical-slide.s01 { background-color: indianred; } */
.vertical-slide.s02 { background-color: dodgerblue; }
.vertical-slide.s03 { background-color: burlywood; }
.vertical-slide.s04 { background-color: sandybrown; }

.slide-content {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slide-content video{
  position: absolute;
  top: -60px;
  left: 50%;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  transform: translateX(-50%);
}