@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */

/* 52fullCalendarStyle */
* { box-sizing: border-box; padding: 0px; margin: 0px; } 
:root { font-family: 'Noto Sans KR', sans-serif; } 
.wrap { width: 960px; padding: 0 20px; margin: 0 auto; } 
#calendarRow { height: 169px !important; overflow: hidden; } 
#calendarRow a { color: #ced4da; text-decoration: none; } 
#calendarRow .fc-day-sat a { color: rgba(var(--bs-info-rgb)); } 
#calendarRow .fc-day-sun a { color: rgba(var(--bs-danger-rgb)); } 
#calendarRow .fc-scroller { overflow: auto auto !important; } 
#calendarRow .fc-scroller table,
#calendarRow .fc-scroller .fc-daygrid-body { width: 100% !important; } 
#modalBody { display: flex; flex-direction: column; align-items: center; } 
#modalBody img { height: 400px; } 
