@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* 구글커스텀아이콘 */
/* 58publicAPIStockStyle */

* { box-sizing: border-box; padding: 0px; margin: 0px; } 
body { min-width: 1280px; }
h1 {
    text-align: center;
    color: #73a6c7;
    margin: 50px auto 0;
    font-size: 2.5rem;
}
.wrap {
    width: 960px;
    margin: 50px auto 0;
}
.up { color: #e74c3c; } 
.up::before { content: "\25B4"; } 
.down { color: #3498db; } 
.down::before { content: "\25BE"; } 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}


/* 탭메뉴 - 페이드박스 가로형 */
section .fadeTab { margin: 0 0 100px 0; } 
.tab ul { width: 100%; display: flex; justify-content: center; gap: 5px; list-style: none; } 
.tab ul li { padding: 20px 40px; background: #b4bcc2; color: #fff; text-shadow: 1px 1px 3px rgba(0,0,0,0.5); position: relative; cursor: pointer; } 
.tab ul li.on { background: #ccc; } 
.tab ul li:hover::after,
.tab ul li.on::after { width: 100%; height: 5px; background: #73a6c7; content: ""; position: absolute; top: 0; left: 0; } 
.tab ul li:hover::after { background: rgba(255,255,255,0.3); } 
.tab .conBox {
    width: 100%;
    background: #ccc;
    padding: 80px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.tab .conBox .loading{
    position: absolute;
    z-index: 10;
    /* width: calc(100% - 80px);
    height: calc(100% - 80px); */
    background: rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab .conBox .loading span{
    font-size: 40px;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
 }