@charset "UTF-8";

/* 59GSAPscrollPerspectiveStyle */
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body {
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 500vh;
	/* 스크롤의 높이 설정으로 스크롤링 횟수 조정 */
	background: black;
}
.stage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.tube {
	position: fixed;
	top: 50vh;
	left: 50vw;
	perspective: 100vw;
	/* 3D 위치 요소에 약간의 원근감을 주기 위해 z=0 평면과 사용자 사이의 거리를 결정 */
}
.tube__inner {
	position: relative;
	transform-style: preserve-3d;
}
.line {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vw;
	font-stretch: 400%;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;
	transform-style: preserve-3d;
}