@charset "UTF-8";

/* ie업데이트 이후, 핵이 따로 먹지 않으니 궂이 찾아서 할 필요없음 */
/* ie11hack */
/* @media all and (-ms-high-contrast:none) {

} */
/* ie10,ie11 hack */
/* @media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
   
} */
/* ie9전용 hack */
/* :root .color {color: #F00\9;} */

/* ie8전용 hack */
/* @media \0screen {  
    .color {color: #F00;}  
} */

/* ie7전용 hack */
/* *+html .color {color: #F00;} */

/* ie6전용 hack */
/* * html .color {color: #F00;} */



/* ie-checker로 cross browsing */
.is-ie .clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* .is-ie IE공통요소 */
.is-ie header .top{ width: 1020px; }
.is-ie .swiper-button-next{
    width: 75px;
    height: 75px;
    background: url(/images/svg/navigate_next-white-48dp.svg) 50% 50% no-repeat;
    background-size: cover;
}
.is-ie .swiper-button-prev{
    width: 75px;
    height: 75px;
    background: url(/images/svg/navigate_before-white-48dp.svg) 50% 50% no-repeat;
    background-size: cover;
}
.is-ie .thumnail_01 .contents p br{ display: none; }
/* .ie11 IE11전용 */

/* .ie10 IE10전용 */

/* .ie9 IE9전용 flex안되는 것 보정 */
.ie9 header{ padding: 25px 0 0 0; }
.ie9 header .top .logo{ float: left; }
.ie9 header .top .global{
    display: block;
    width: 360px;
    float: right;
}
.ie9 header .top .global .search,
.ie9 header .top .global .bt,
.ie9 .search input.searchBox{
    display: block;
    float: left;
}
.ie9 header .top .global .search{ margin: 6px 0 0 0; }
.ie9 .search .searchBt{
    margin: 2px 0 0 0;
    display: block;
    float: left;
}
.ie9 nav ul.inner li.depth1{
    display: block;
    float: left;
}
.ie9 .art2 .box > *::after{
    content: "";
    clear: both;
    display: table;
}
.ie9 .art2 .box:first-child,
.ie9 .art2 .box .thumnail_01 .img,
.ie9 .art2 .box:last-child .thumnail_01 .img,
.ie9 .art2 .box:last-child .thumnail_02 .left,
.ie9 .art3 .swiper-wrapper .swiper-slide > *,
.ie9 .art4 .banner_01, 
.ie9 .art4 .banner_02,
.ie9 footer .inner .footerLeft{
    display: block;
    float: left;
}
.ie9 .art2 .box:last-child,
.ie9 .thumnail_01 .contents,
.ie9 .art2 .box:last-child .thumnail_02 .right,
.ie9 footer .inner select{
    display: block;
    float: right;
}

@media screen and (max-width:640px){
	.is-ie header .top{ width: 100%; }
    .is-ie .inner{
        width: auto;
        margin: auto;
    }
    .is-ie nav.dpFlex ul.inner{
        margin: 0;
    }
}

/* 해당요소를 브라우저가 지원하면 사용하겠다 */
@supports (display: flex){
    /* div{
        display: flex;
    } */
}
/* 해당요소를 브라우저가 지원하지 않으면 대체재로 보완해줌 */
@supports not (display: grid){
    /* div{
        display: flex;
    } */
}