@charset "utf-8";

/*공통 css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid aqua;
}
.clearfix::after{
    display: table;
    content:"";
    clear: both;
}
ul, li{list-style : none;}
a, a:visited{
    color: #313131;
    text-decoration: none;}
a:hover, a:active{color: #6d6d6d;}
/*전체 inner css*/
.inner1200{
    width:1200px;
    margin: 0 auto;
    background: #fff;
}
.inner1200 .logo{
    height: 100px;
    width: 200px;
    background: rgb(110, 183, 112);
    text-align: center;
    line-height: 100px;
}


/*nav full css*/


.inner1200 .box{
    width: 33%;
    height: 200px;
    background: rgb(237, 237, 237);
    float: left;
}
.inner1200 .box:nth-child(2) {
    margin: 0 0.5%;
}
.inner1200 .top{
    width: 100%;
    height: 100px;
    background: rgb(237, 237,237);
}

.inner1200 nav.top .gnb{
    width: 1200px;
    height: 0;
    position: absolute;
    top: 100px;
    left: 87px;
    z-index: 100;
    background: rgb(237, 237,237);
    display: flex;
    justify-content: flex-end;
    transition: height 0.5s;
}

.inner1200 nav.top .gnb:hover{
    height: 100px;
    transition: height 0.5s;
}

.gnb > li {
    width: 200px;
    margin-top: -60px;
    cursor: pointer;
    text-align: center;
}

.gnb > li > a{
    height: 60px;
    line-height: 60px;
    display: block;
    width: 100%;
    position: relative;
    background:rgb(110, 183, 112);
    z-index: 100;
}

.gnb > li:hover > a{
    background: rgb(160, 187, 148);

}
/*nav 하위 메뉴 숨겼다 펼치는 기능은 js로 구현*/

/*slide 구현 css*/
.contents01{
    width: 100%;
    height: 300px;
    background: #fff; 
    overflow:hidden;

}
.imgs{
    position: relative;
    display: flex;
    height: 100%;
}
.contents01 > .imgs{
    transition: all 0.5s;
}
.contents01 > .imgs img{
    width: 1200px;
    flex-shrink: 0;
    /*이미지 크기가 커서 공간이 부족할때 이미지의 크기를 줄일 수 없도록
    만약에 flex-shrink : 1 로 할시 이미지가 좁아져서 슬라이드 구현시 이미지 작게 보임*/
}


/*tab  구현 css*/
.tab .tabbt{
    width: 105px;
    height: 40px;
    float: left;
    line-height: 40px;
    padding: 0 20px;
    /* margin: 0 70% 0 0; */
    background: #c9c9c9;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.tab > .on{
    background: #ddd;
    cursor: default;
}

.tab > .on:hover{
    background: #ddd;
}
.tab .conBox{
    width: 100%;
    height: 160px;
    background: #ddd;
    padding: 20px;
    margin-top: 40px;
}

/*공지사항 모달팝업창*/
ul.notice{
    width: 100%;
    height: 100%;
}
ul.notice > li{
    border-bottom: 1px solid #eee;
    height: 32px;
    line-height: 32px;
}

ul.notice > li.notice1{
    color: #999;
}
ul.notice > li.notice1:hover{
    cursor: pointer;
    color: #555;
}
.modalbg{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
.modalbg .box{
    width: 500px;
    height:300px;
    background: silver;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.modalbg .box .bt{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/*footer css*/
footer{
    height: 100px;
    width: 100%;
}
.foot{
    justify-content: space-around;
}

.foot .logo{
    float: left;
}
.foot .address{
    float: left;
    width: 400px;
    height: 100%;
}
.foot .site{
    float:right;
    width: 200px;
    height: 100px;
}
.foot .site{
    width: 200px;
    height: 100px;
}
.foot .site > li{
    height: 33%;
    text-align: center;
    line-height: 33px;
}







