@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; /*outline: 1px solid pink;*/}
.inner{width: 100%; margin: 0 auto;}
.clearfix::after{display: table; content:""; clear:both;}
a, a:visited{text-decoration: none; color:#333;}
a:hover{color:#6f6f6f;}
ul, li{list-style: none;}
.inner .box{width: 33%; height: 200px; background: #e0e0e0; float:left;}
.inner .box:nth-child(2){margin: 0 0.5%;}
.logo{ width: 200px; height: 100px; line-height: 100px; text-align: center; background: #9999; float: left; margin-left: 11%;}
.flex{display: flex; flex-direction: column; height: 100px; width: 63%;}

nav.top{width: 100%; height: 100px; background: #7cb7ff;}
ul.gnb{float: right; width: 700px; height: 100%; margin-right: 15%;}
.gnb > li{float: left; width: 25%; height: 60px; line-height: 60px; text-align: center; background: #fff; cursor:pointer; position: relative; top: 40px; z-index: 100;} 
.gnb > li > a{display: block; width: 100%; font-size: 1.1em; font-weight: 600;}
.gnb > li:hover > a{color: #afafaf;}
.gnb > li > ul{background: #b7cbde;}
.gnb > li > ul > li:hover{background:#fff;}
.gnb > li > ul > .empty{color: #b7cbde;;}
.gnb > li > ul > .empty:hover{color: #fff;}

.contents1{width: 1200px; margin: 0 auto; height: 300px; overflow: hidden;}
.imgs{display: flex; position: relative; height: 100%;}
.contents1 > .imgs{transition: all 0.5s;}
.contents1 > .imgs img{width: 1200px; flex-shrink: 0;}

.contents2{width: 1200px; height: 200px; margin: 0 auto;}
.tab > ul{width: 100%; height: 40px;}
.tab > ul > li{height: 40px; line-height: 40px; float: left; position: relative; cursor: pointer; padding: 0 5px; margin: 0 5px 0 0; font-weight: 600; background: #eeee;}
.tab > ul > li.on{background: #808080; color: #fff;}
.tab > ul > li:hover{background: #808080;}
.tab .conBox{width: 100%; height: 160px; padding: 15px; display: none; background:#fff;}
.tab .conBox.on{display: block;}

ul.notice{width: 100%; height: 100%;}
ul.notice > li {height: 32px; line-height: 32px;}
ul.notice> li.notice1:hover{cursor: pointer;}

.modalbg{width: 100%; height: 100vh; background:rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; z-index: 1000; display: none;}
.modalbg .box{width: 400px; height: 300px; position: relative;top: 50%;left: 50%; transform: translate(-50%,-50%); background: #fff; text-align: center; line-height: 300px;}
.modalbg .bt{width: 40px; height: 30px; position: absolute; top: 80%; left: 80%;}

.contents2 .banner, .shortcut{text-align: center; line-height: 200px;}
footer{width: 100%; background: #7cb7ff; height: 100px;}
footer .undermenu, .copyright{height: 50px; line-height: 50px; text-align: center; background: #fff;}