@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; outline: 1px solid slateblue;}
ul, li{list-style: none;}
a{color: #333333; text-decoration: none;}
a:hover{color: grey;}
.inner{width: 100%; margin: 0 auto;}
.clearfix::after{display:table; content:""; clear:both;}
.logo{width: 200px; height: 100px; line-height: 100px; text-align: center; float: left; background: #62c2ac; margin-left: 169px;}
.inner .box{width: 33%; height: 200px; background: #eee; float: left;}
.inner .box:nth-child(2){margin: 0 0.5%;}
.flex{display: flex; display: flex; flex-direction: column; width: 30%;}
/*full nav*/
nav.top{width: 100%; height: 100px; background: #eee; position: relative;}
ul.gnb{display: flex; width: 1200px; height: 0; position: absolute; top:100px; right:0; justify-content: flex-end; z-index: 100; transition: height 0.5s; background: #e2e9bb; margin-right: 43px;}
ul.gnb:hover{height: 100px; transition: height 0.5s;}
.gnb > li{width: 150px; margin-top: -60px; text-align: center; cursor: pointer; background: #e2e9bb;}
.gnb > li > a{width: 100%; display: block; height: 60px; line-height: 60px; font-weight: 600; position: relative;}
.gnb > li > ul{display: block;}
.gnb > li > ul > li{width: 100%;}

/*slide 상하*/
.contents1{width: 1200px; height: 300px; margin: 0 auto; overflow: hidden;}
.imgs{height: 100%; display: flex; position: relative;}
.contents1 > .imgs{flex-direction: column; transition: all 0.5s; }
.contents1 img{width: 1200px; height: 300px; flex-shrink: 0; vertical-align: top;}
/*탭 별도*/
.contents2{width: 1200px; height: 200px; margin: 0 auto;}
.con1, .con2{width: 74px; height: 40px; line-height: 40px; text-align: center; padding: 0 2px; background: #62c2ac; font-weight: 600;}
.con1 > ul.notice{height: 160px; margin: 0 5px;}
ul.notice > li{height: 40px; line-height: 40px; cursor: pointer;}
ul.notice > li > a{display: block; width: 100%;}
.modalbg{width: 100%; height: 100%; position: fixed; top:0; left: 0; background:rgba(0,0,0,0.7); z-index: 1000; display: none;}
.modalbg > .box{width: 400px; height: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); line-height: 300px; text-align: center; background: #ffff; z-index: 1000;}
.modalbg > .bt{position: relative; top: 38%; left: 25%;}
.con2 > .conBox{width: 100%; height: 160px; line-height: 160px; text-align: center;}


/*footer*/
footer{width: 100%; height: 100px; background:#eee;}
footer > .copyright{float: left; height: 100px; width: 70%; line-height: 100px; text-align: center;}
footer > .undermenu, .family{height: 50px; line-height: 50px; text-align: center;}