@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; outline: 1px solid blue;}
ul, li{list-style: none;}
a, a:visited{text-decoration: none; color: #333;}
a:hover{color: rgb(95, 95, 95);}
.clearfix::after{display:table; content:""; clear: both;}
.box{width: 33%; height: 200px; float: left; background: #9fadd6;}
.box:nth-child(2){margin: 0 0.5%;}
.logo{width: 200px; height: 100px; line-height: 100px; font-weight: 600; float: left; text-align: center; background: #3b5dc5; margin-left: 40px;}
.flex{display:flex; flex-direction: column;}

/*inner은 화면 전체 비율*/
.inner{width: 100%; outline: 1px solid steelblue;}
.top{width: 100%; height: 100px; position: relative;}
/*full nav*/
ul.gnb{width: 1200px; height: 0px; display: flex; text-align: center; justify-content: flex-end; position: absolute; top: 100px; left: 0; transition: height 0.5s; z-index: 100; background: #576cac;}
ul.gnb:hover{height: 100px; transition: height 0.5s;}
.gnb > li{cursor: pointer; width: 200px; margin-top: -60px;}
.gnb > li > a{display: block; width: 100%; height: 60px; line-height: 60px; position: relative; background: #3b5dc5;}
.gnb > li > ul > li{width: 100%; height: 25px; line-height:25px; }
.gnb > li > ul > li > a { display: block; color: #fff;}
.gnb > li > ul > li:hover > a {color: #dbdbdb;}
/*full nav 경우 .gnb전체에 transitiond을 걸고 height를 조정하면 됨*/



/*슬라이드 좌우*/
.contents1{width: 1200px; height: 300px; margin: 0 auto; overflow:hidden;}
.imgs{height: 100%; position: relative; display:flex;}
.contents1 > .imgs{transition: all 0.5s;}
.imgs img {width: 1200px; height: 300px; flex-shrink: 0;}


/*탭 별도 모달적용*/
.contents2{width: 1200px; height: 200px; margin: 0 auto;}
.con1, .con2 {width: 80px; height: 40px; line-height: 40px; text-align: center; font-weight: 600; background: #fff; margin-left: 5px;}
ul.notice {width: 100%; height: 160px; background: #fff;}
.notice > li {width: 100%; height: 40px; line-height: 40px;}



/*footer*/