@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; outline: 1px solid skyblue;}
ul, li{list-style: none;}
a, a:visited{color: #333333; text-decoration: none;}
a:hover{color: #7b7979;}
.clearfix::after{display: table; content:""; clear: both;}
.logo{width: 200px; height: 100px; line-height: 100px; background: #2472d2; text-align: center;}
.box{width: 33%; height: 200px; background: #e3e3e3; float: left;}
.box:nth-child(2){margin: 0 0.5%;}
.flex{display: flex; flex-direction: column; float: left;}

.inner{width: 1000px; background: #fff; outline: 1px solid yellow;}
.inner nav{width: 200px; height: 650px; float: left; background: #e3e3e3;}
ul.gnb{width: 80%; text-align:center; cursor: pointer; margin: 10px auto;}
ul.gnb > li > a{display:block; width: 100%; height: 40px; line-height: 40px; background:#e7ee72;}
ul.gnb > li:hover > a{background: #c0c665;}
ul.gnb > li > ul{background: #e7ee72;}
ul.gnb > li > ul > li:hover{background: #c0c665;}
.contents1{width: 800px; height: 650px; float: left; background: #fff;}

.contents1-2{width: 100%; height: 350px; background:#ccc; overflow: hidden;}
.contents1-2 > .imgs{height: 100%; display: flex; position: relative; background: #7b7979;}
.contents1-2 > .imgs > a{ display:block;}
.contents1-2 img{width: 800px; height: 350px;}


.contents2{width: 100%; height: 200px; background: #fff;}
.tab > ul{width: 100%; height: 40px;}
.tab > ul > li{height: 40px; line-height: 40px; cursor: pointer; position: relative; float: left; margin: 0 5px 0 0; background: #2472d2; padding: 0 2px; font-weight: 600;}
.tab > ul > li.on{background: #396fb2; cursor: default;}
.tab > ul > li:hover{background: #396fb2;}
.tab > ul > li > a{display:block;}
.tab .conBox{width: 100%; height: 160px; display: none;}
.tab .conBox.on{display: block;}
.notice{width: 100%; height: 160px; padding: 0 0 0 5px}
.notice > li{width: 100%; height: 40px; line-height: 40px;}
.modalbg{width: 100%; background: rgba(0,0,0,0.7); height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000; display: none;}
.modalbg > .box{width: 400px; height: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1000;}
.modalbg .bt{width: 40px; height: 25px; line-height: 25px; position: relative; top: 80%; left: 60%;}

footer{width: 100%; height: 100px; background: #eee;}
footer .logo{float: left;}
footer .flex{width: 600px; height: 100px;}
footer .undermenu, .copyright{width: 100%; height: 50px; line-height: 50px; text-align: center;}