@charset "utf-8";
*{margin:0; padding: 0; box-sizing: border-box; outline: 1px solid orangered;}
a, a:visited{text-decoration: none; color: #333333;}
a:hover{color: #9c9c9c;}
ul, li{list-style: none;}
.logo{width: 200px; height: 100px; line-height: 100px; text-align:center; background: #d85e39;}
.box{width: 33%; height: 200px; float: left; background: #e0e0e0;}
.box:nth-child(2){margin: 0 0.5%;}
.clearfix::after{display: table; content:""; clear: both;}
.flex{display: flex; flex-direction:column;}
.inner{width: 1000px; height: 650px; outline: 1px solid #d85e39;}


.inner nav{width: 200px; height: 650px; float: left; background: #eeeeee;}
/*좌측 슬라이드 nav*/
ul.gnb{width: 80%; text-align: center; cursor: pointer;}
ul.gnb > li{position: relative;}
ul.gnb > li > a{display: block; width: 100%; height: 40px; line-height: 40px; background:#d85e39; position: relative; z-index: 100; color:#fff;}
ul.gnb > li:hover > a{background: #dd8165; color:#eeeeee;}
ul.gnb > li > ul{width: 100%; position:absolute; top: 0; left: 0; z-index: 10; background:#e0e0e0; transform: translatex(0%); transition: all  0.5s;}
ul.gnb > li:nth-child(3) > ul,
ul.gnb > li:last-child > ul{top: unset; bottom: 0;}
ul.gnb > li:hover > ul{transform: translatex(100%); transition: all 0.5s;}
ul.gnb > li > ul > li:hover{background: #d6d5d5;}
.contents {width: 800px; height: 650px; float: left;}

/*슬라이드 좌우*/
.contents1{width: 800px; height: 350px; overflow:hidden;}
.imgs{height: 100%; position: relative; display: flex;}
.contents1 > .imgs{transition: all 0.5s;}
.imgs img{width: 800px; height: 350px; flex-shrink: 0;}

/*탭 별도 모달팝업창 생성*/
.contents2{width: 800px; height: 200px; }
.con1, .con2{width: 25%; height: 40px; line-height: 40px; text-align: center; font-weight: 600; background: #d85e39;}
ul.notice{width: 100%; height: 160px;}
ul.notice > li{height: 40px; line-height: 40px; margin: 0 0 0 5px; background: #fff;}
.modalbg{background: rgba(0,0,0,0.7); width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000;display: none;}
.modalbg > .box{width: 400px; height: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;}
.modalbg .bt{position: relative; top: 80%; left: 60%; width: 40px; height: 30px;}

/*footer*/
footer .logo{float: left;}
footer .flex{float: right; width: 600px; height: 100px;}
.undermenu, .copyright{height: 50px; width: 100%; line-height:50px; text-align:center;}